@font-face {
  font-family: "Pragmatica";
  src: url("/fonts/PragmaticaSlab-Light.eot");
  src: url("/fonts/PragmaticaSlab-Light.eot?#iefix") format("embedded-opentype");
  src: url("/fonts/PragmaticaSlab-Light.ttf") format("truetype");
  src: url("/fonts/PragmaticaSlab-Light.woff") format("woff");
  font-weight: normal;
  font-style: 300;
}
@font-face {
  font-family: "Pragmatica";
  src: url("/fonts/Pragmatica-Book.eot");
  src: url("/fonts/Pragmatica-Book.eot?#iefix") format("embedded-opentype");
  src: url("/fonts/Pragmatica-Book.ttf") format("truetype");
  src: url("/fonts/Pragmatica-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pragmatica";
  src: url("/fonts/PragmaticaSlab-Medium.eot");
  src: url("/fonts/PragmaticaSlab-Medium.eot?#iefix") format("embedded-opentype");
  src: url("/fonts/PragmaticaSlab-Medium.ttf") format("truetype");
  src: url("/fonts/PragmaticaSlab-Medium.woff") format("woff");
  font-weight: normal;
  font-style: 500;
}
.header {
  position: absolute;
  padding-top: 25px;
  z-index: 2;
  width: 100%;
}
.header_contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding-bottom: 25px;
}
.header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
.header_wrapper {
  display: flex;
}
.header_wrapper .icon_contact {
  padding-right: 50px;
}
.header_wrapper a {
  color: #282828;
  font-weight: normal;
  font-size: 18px;
  line-height: 120%;
}

.nav_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_bar {
  position: relative;
  padding-right: 70px;
}
.nav_bar:last-of-type {
  padding-right: 0px;
}
.nav_item {
  color: #282828;
}

.main {
  position: relative;
  height: 100vh;
  width: 100%;
  background: url(/img/fon.png);
  padding-top: 380px;
}
.main_tytle {
  text-align: center;
  padding-bottom: 231px;
}
.main_request {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_scroll {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  cursor: pointer;
}

.scroll_border {
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  width: 21px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scroll_border:hover {
  -webkit-animation: scroll_move 0.8s infinite;
          animation: scroll_move 0.8s infinite;
}

@-webkit-keyframes scroll_move {
  0% {
    padding-top: 0px;
  }
  50% {
    padding-top: 3px;
  }
  100% {
    padding-top: 6px;
  }
}

@keyframes scroll_move {
  0% {
    padding-top: 0px;
  }
  50% {
    padding-top: 3px;
  }
  100% {
    padding-top: 6px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #4F616B;
}

body {
  background: #fff;
  font-family: "Pragmatica";
}
body .dark {
  background: #0F0F0F;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #4F616B;
}

p {
  margin: 0;
}

section {
  position: relative;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
}

.icon_wrapper {
  display: flex;
}
.icon_social {
  border-radius: 50%;
  display: flex;
  border: 1px solid #F2F2F2;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin-right: 20px;
}
.icon_social:nth-last-of-type(2) {
  padding-left: 1px;
}
.icon_social:last-of-type {
  margin-right: 0px;
}
.icon_social:hover .icon_social-center {
  fill: #fff;
  transition: 0.4s;
}

.vk:hover {
  background: #2C5FE1;
  border: 1px solid #2C5FE1;
  transition: 0.4s;
}

.instagram:hover {
  background: linear-gradient(180deg, #FF15E8 0%, #FF8A00 100%);
  border: 1px solid #2C5FE1;
  transition: 0.4s;
}

.odnoklassniki:hover {
  background: #EC8021;
  border: 1px solid #EC8021;
  transition: 0.4s;
}

.youtube:hover {
  background: #FD000D;
  border: 1px solid #FD000D;
  transition: 0.4s;
}

.icon_contact {
  display: flex;
  align-items: center;
}
.icon_contact a {
  padding-left: 10px;
}
.icon_contact:hover .icon_hover {
  fill: #900E0E;
  transition: 0.4s;
}

.dropdown {
  display: flex;
  cursor: pointer;
}
.dropdown_text {
  padding-right: 8px;
  font-weight: 500;
  font-size: 15px;
}
.dropdown_svg {
  border-radius: 50%;
  display: flex;
  border: 2px solid #F2F2F2;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
}
.dropdown:hover .dropdown_svg-center {
  fill: #900E0E;
  transition: 0.4s;
}
.dropdown_list {
  position: absolute;
  left: 0;
  display: none;
  top: 100%;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}
.dropdown:hover .dropdown_list {
  display: block;
}
.dropdown_item {
  font-weight: 400;
  font-size: 15px;
  margin: 0 15px;
  padding: 15px 0;
  border-bottom: 1px solid rgba(79, 97, 107, 0.1);
}
.dropdown_item:last-of-type {
  border-bottom: none;
}
.dropdown_item a {
  color: #4F616B;
}
.dropdown_item:hover a {
  color: #900E0E;
}

.button {
  background: #fff;
  width: 220px;
  height: 46px;
  text-align: center;
  border: 1px solid #900E0E;
  border-radius: 2px;
  color: #900E0E;
  font-weight: 500;
  font-size: 13px;
  line-height: 46px;
  letter-spacing: 0.01em;
}
.button:hover {
  background: #900E0E;
  color: #fff;
  transition: 0.4s;
}
.button.filled {
  background: #900E0E;
  color: #fff;
}
.button.filled:hover {
  background: #A42222;
  transition: 0.4s;
}
.button_circle {
  position: relative;
  width: 36px;
  height: 36px;
  border: 1px solid rgba(79, 97, 107, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.button_circle:hover .button_bord {
  background: #282828;
}
.button_bord {
  position: absolute;
  top: 50%;
  left: 25%;
  width: 18px;
  height: 2px;
  background: #4F616B;
  border-radius: 2px;
}
.button_bord:first-child {
  transform: rotate(45deg);
}
.button_bord:last-child {
  transform: rotate(-45deg);
}

.arrow {
  border-radius: 50%;
  display: flex;
  border: 2px solid #F2F2F2;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}
.arrow:hover .arrow_center {
  fill: #fff;
  transition: 0.4s;
}
.arrow:hover {
  background: #900E0E;
  transition: 0.4s;
  -webkit-animation: arrow 1.8s infinite;
          animation: arrow 1.8s infinite;
}

@-webkit-keyframes arrow {
  from {
    padding-left: 0px;
  }
  to {
    padding-left: 15px;
  }
}

@keyframes arrow {
  from {
    padding-left: 0px;
  }
  to {
    padding-left: 15px;
  }
}
.rooms {
  border-radius: 100px;
  display: flex;
  border: 2px solid rgba(79, 97, 107, 0.5);
  align-items: center;
  justify-content: center;
  width: 112px;
  height: 30px;
  transition: 0.4s;
}
.rooms:hover {
  border: 2px solid #4F616B;
}

.conveniences {
  display: flex;
  position: relative;
  width: 155px;
  height: 40px;
}
.conveniences.big {
  justify-content: space-between;
  width: 440px;
  height: 100%;
  border-bottom: 1px solid rgba(79, 97, 107, 0.07);
  padding-bottom: 20px;
}
.conveniences.big:hover circle {
  stroke: #900E0E;
  stroke-opacity: 1;
}
.conveniences.big:hover .svg_center {
  fill: #900E0E;
}
.conveniences.big:hover.conveniences.big {
  border-bottom: 1px solid #900E0E;
}
.conveniences_text {
  margin: auto 0;
}
.conveniences_icon {
  position: absolute;
}
.conveniences_icon.big {
  position: relative;
  width: 70px;
  height: 70px;
}
.conveniences_hide {
  line-height: 42px;
  text-align: center;
  height: 40px;
  opacity: 0;
}
.conveniences:hover .conveniences_hide {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 0px 100px 100px 0px;
  opacity: 0;
  -webkit-animation: conveniences_hide 1s forwards;
          animation: conveniences_hide 1s forwards;
  transition: 0.4s;
}

@-webkit-keyframes conveniences_hide {
  0% {
    padding-left: 0px;
    opacity: 0;
  }
  50% {
    padding-left: 38px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    padding-left: 50px;
  }
}

@keyframes conveniences_hide {
  0% {
    padding-left: 0px;
    opacity: 0;
  }
  50% {
    padding-left: 38px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    padding-left: 50px;
  }
}/*# sourceMappingURL=style.css.map */