.footer
    padding-top: 70px
    background: $maincolordark
    flex: 0 0 auto
    &_wrapper
        display: flex
        justify-content: space-between
        padding-bottom: 41px
        border-bottom: 1px solid rgba(255, 255, 255, 0.05)
    &_logo
        margin-bottom: 38px
    &_title
        color: $textfootercolor
        font-weight: 500
        font-size: 16px
        line-height: 120%
        margin-bottom: 20px
    &_wrap
        display: flex
    &_numbers
        margin-right: 73px
    &_number
        margin-bottom: 15px
        &:last-of-type
            margin-bottom: 0px
        & a
            color: $maincolor
    &_address
    &_addres
        margin-bottom: 15px
        &:last-of-type
            margin-bottom: 0px
        & a
            color: $maincolor
    &_nav 
        display: flex
        width: 48%
        justify-content: space-between
    .nav
        &_wrapperup
        &_aboutus
                margin-right: 95px
        &_wrap
            display: flex
            justify-content: space-between
            align-items: flex-start
        &_wrapper
            &:first-of-type
                margin-bottom: 40px
        &_aboutus
        &_menu
        &_events
            justify-content: space-between
        &_title 
            margin-bottom: 20px
            & a
                font-weight: 500
                font-size: 16px
                line-height: 120%
                color: $maincolor
        &_list 
            margin-bottom: 15px
            & a
                color: $textfootercolor
                font-size: 14px
                line-height: 120%
            &:last-of-type
                margin-bottom: 0px
        & .nomobile 
.copyright
    &_wrapper
        display: flex
        justify-content: space-between
        align-items: center
        padding: 42px 0
    &_wrap
        display: flex
        justify-content: space-between
        & .copyright_documents-wrap
            display: none
    &_flex
        display: flex
        & .icon_wrapper
            align-items: center
    &_copyright
        max-width: 433px
        font-size: 12px
        line-height: 120%
        color: $textfootercolor
    &_documents
        &-wrap
            display: flex
        &:first-of-type
            margin-right: 80px
        &:last-of-type
            margin-right: 41px
        & a
            font-weight: 400
            font-size: 12px
            line-height: 130%
            color: $textfootercolor
@media (max-width: 1510px)
    .footer
        padding-top: 50px
        &_nav 
            display: block
        &_documents
        &-wrap
            display: block
        &_wrapper
            padding-bottom: 40px
    .nav
        &_wrapper
            &:first-of-type
                margin-bottom: 30px
                &
            &:nth-of-type(2)
                margin-right: 100px
                margin-bottom: 30px
        &_events
            display: flex
            justify-content: flex-start
            &_wrapper
                margin-bottom: 0px
        &_menu
    .nav_events
        .nav
            &_wrapper
                margin-right: 126px
                &:first-of-type
                    margin-bottom: 0px
    .copyright
        &_documents 
            &:first-child
                margin-bottom: 8px
            &-wrap
                flex-direction: column
@media (max-width: 1100px)
    .footer
        &_wrapper
            display: block
            padding-bottom: 0px
        &_wrap
            border-bottom: 1px solid rgba(255, 255, 255, 0.05)
            padding-bottom: 30px
        &_nav 
            display: flex
            width: 100%
            margin: 30px 0
        &_documents
        &-wrap
            display: flex
        & .nav_wrap
            flex-direction: row
            justify-content: flex-start
    .nav
        &_wrapper
            &:nth-of-type(2)
                margin-right: 0px
                margin-bottom: 0px 
        &_events
            display: block
            .nav_wrapper
                margin-right: 0px
                &:first-of-type
                    margin-bottom: 30px
        &_menu
    .copyright
        &_wrapper
            align-items: flex-start
            padding: 20px 0 30px
        &_wrap
            display: block
            & .copyright_documents-wrap
                display: flex
                flex-direction: row
        &_documents
            &:first-child
                margin-bottom: 0px
            &:first-of-type
                margin-right: 8px
            &:last-of-type
                margin-right: 0px
        &_flex
            display: flex
            & .copyright_documents-wrap
                display: none
        &_copyright
            margin-bottom: 20px
@media (max-width: 760px)
    .footer
        &_wrap
            display: block
        &_nav 
            display: block
        & .nav_wrap
            flex-direction: column
        &_documents
        &_logo
            margin-bottom: 20px
        &_numbers
            margin-right: 0px
            margin-bottom: 15px
    .nav
        &_wrap
            display: block
        &_wrapperup
            &:first-of-type
                margin-right: 0px
            &-mobile
                display: block
                &.nav_wrapper
                    display: block
        &_wrapper
            margin-bottom: 20px
            &:first-of-type
                margin-bottom: 20px
        &_aboutus
        &_events
            display: block
        &_title 
            margin-bottom: 10px
        &_menu
    .copyright
        &_wrapper
            flex-direction: column-reverse
            align-items: flex-start
            padding: 20px 0 20px
            & .icon_wrapper
                width: 100%
                padding-bottom: 20px
                margin-bottom: 20px
                border-bottom: 1px solid rgba(255, 255, 255, 0.05)
            & .icon_social
                width: 40px
                height: 40px
                margin-right: 40px
            & .odnoklassniki
                padding-top: 9px
        &_wrap
            display: block
            & .copyright_documents-wrap
                display: flex
                flex-direction: column
        &_flex
            border-bottom: 1px solid rgba(255, 255, 255, 0.05)
            width: 100%
            margin: 20px 0
            margin-bottom: 20px
        &_documents
            &:first-child
                margin-bottom: 0px
            &:first-of-type
                margin-right: 8px
            &:last-of-type
                margin-right: 0px
        &_copyright
            margin-bottom: 15px