.header
    position: absolute
    z-index: 2
    width: 100%
    &_logo
        font-family: 'Cormorant'
        font-weight: 600
        font-size: 36px
        line-height: 120%
        text-transform: uppercase
        color: #fff
    &.move
        &.fixed 
            background-color: #fff
            position: fixed
            animation: bar .4s ease-in-out 
            top: 0px
    &_contact
        display: flex
        align-items: center
        justify-content: space-between
        border-bottom: 1px solid rgba(255, 255, 255, 0.05)
        padding: 22.5px 0
    &_wrapper
        display: flex
        align-items: center
        & .icon_contact
            margin-right: 50px
        & span
            color: $maincolor
            font-weight: normal
            font-size: 18px
            line-height: 120%
    & .button_transparent
        height: 46px
        border: 1px solid rgba(255, 255, 255, 0.15)
    &_burgher
        display: none
        margin-left: 20px
        border: 1px solid $borderconveniences
        width: 46px
        height: 46px
        position: relative
        cursor: pointer
        & span
            margin: 4px auto
            display: block
            background: $maincolor
            border: 1px solid $maincolor
            height: 2px
            width: 22px
            &:first-of-type
                margin-top: 16px
            &:last-of-type
    &_burgher.active
        & span 
            display: none
            &:first-of-type
                margin-top: 4px
                transform: rotate(-45deg)
                position: absolute
                top: calc( 50% - 5px )
                left: calc( 50% - 11px )
                display: block
            &:last-of-type
                transform: rotate(45deg)
                position: absolute
                top: calc( 50% - 5px )
                left: calc( 50% - 11px )
                display: block
    &.fixed
        & .active
            & .cross
                border: 1px solid $titlecolor
        &.active
            & .hide
                display: none
        & .color
            & span 
                border: 1px solid $titlecolor
        & span
            color: $titlecolor
        & .nav_item
            color: $titlecolor
        & .header_contact
            border-bottom: 1px solid rgba(0, 0, 0, 0.05)
        & .header_nav
            border-bottom: 1px solid rgba(0, 0, 0, 0.05)
        & .header_logo.mobile
            color: $titlecolor
        & path
            fill: #50616B
        & .button_transparent
            border: 1px solid $secondcolor
            color: $secondcolor
            &:hover
                color: #fff
        & .dropdown_svg
            border: 2px solid rgba(0, 0, 0, 0.1)
        & .icon_contact-svg
            border: 1px solid rgba(0, 0, 0, 0.1)
        & .icon_social
            border: 1px solid rgba(0, 0, 0, 0.1)
@keyframes bar
    from
        top: -100%
    to
        top: 0px

.nav  
    &_dropdown
        display: flex
        justify-content: space-between
        align-items: center
        padding-top: 23.5px
        border-bottom: 1px solid rgba(255, 255, 255, 0.05)
        padding-bottom: 23.5px
    &_wrap
        display: flex
        justify-content: space-between
        align-items: center
        &.active
            flex-direction: column
    &_bar
        position: relative
        margin-right: 70px 
        &:last-of-type
            margin-right: 0px
    &_item
        color: $maincolor
.dropdown
    display: flex
    cursor: pointer
    &_text
        padding-right: 8px
        font-weight: 500
        font-size: 15px
    &_svg
        border-radius: 50%
        display: flex
        border: 2px solid $border
        align-items: center
        justify-content: center
        width: 18px
        height: 18px
    &_wrap
        display: none
    &_list
        position: absolute
        left: 0
        top: 30px
        background: #FFFFFF
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1)
        border-radius: 2px
        &::before
            width: 100%
            height: 15px
            position: absolute
            top: -15px
            content: " "
    &_item
        font-weight: 400
        font-size: 15px
        margin: 0 15px
        padding: 15px 0 
        border-bottom: 1px solid $borderconveniences
        &:last-of-type
            border-bottom: none
        & a
            color: $textcolor
@media (min-width: 1100px)
    .dropdown
        &:hover .dropdown_svg-center
            fill: $secondcolor
            transition: 0.4s
        &_wrap
            &:hover
                display: block
        &:hover 
            &+.dropdown_wrap
                display: block
        &_item
            &:hover a
                color: $secondcolor
    
@media (max-width: 1510px)
    .header
        &_wrapper
            & a
                font-size: 16px
            & .icon_contact
                margin-right: 30px
            & span
                font-size: 16px
    .nav  
        &_wrap
        &_bar
            margin-right: 40px 
@media (max-width: 1100px)
    .header
        &_wrapper
            & a
                font-size: 16px
            & .icon_contact
                margin-right: 30px
        &_nav
        &_burgher
            display: block
    .nav  
        &_dropdown
            height: 100vh
            display: flex
            flex-direction: column
            align-items: flex-start
            justify-content: flex-start
            padding: 0
            &.active
                & .dropdown
                    justify-content: space-between
                    &.active
                        padding-bottom: 19px
                        border-bottom: 1px solid $borderconveniences
                        transition: .4s
                    &_wrap
                        padding: 0
                    &_list
                        position: static
                        background: #FFFFFF
                        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0)
                        border-radius: 0px
                    &_item
                        margin: 0
                        &:last-of-type
                            padding-bottom: 0px    
            & .nav_wrap
                display: flex
                flex-direction: column
                align-items: flex-start
                justify-content: flex-start
                width: 100%
                & .nav_bar
                    padding: 17px 0 19px
                    border-bottom: 1px solid rgba(40, 40, 40, 0.05)
                    width: 100%
                    & .dropdown a
                        padding: 0
                    & a
                        font-weight: 500
                        font-size: 20px
                        line-height: 120%
                    &:last-of-type
                        margin-bottom: 30px
    @keyframes submenu-open
        0%
            height: 0%
        100%
            height: 100%
    @keyframes submenu-closed
        0%
            height: 100%
        100%
            height: 0%
    .dropdown
        &_svg
            width: 20px
            height: 20px
        &_wrap
            &.js-open
                display: block
                z-index: 1
                position: relative
                overflow: hidden
                animation: submenu-open .4s ease-in-out
            &.js-closed
                display: block
                z-index: 1
                position: relative
                overflow: hidden
                animation: submenu-closed .4s ease-in-out
    
@media (max-width: 760px)
    .burgher_min_wrap
        flex-direction: column
        & .burgher_button 
            margin-bottom: 61px