@import '../helpers/_variables'

.swiper
    overflow-x: hidden
    margin-left: calc(( 100% - 1400px )/2)
    position: relative
    &-slide
        width: 675px
        margin-right: 50px
    &-button-prev
        border-radius: 50% 0 0 50%
        position: absolute
        display: flex
        border: 2px solid $borderconveniences
        background-color: $sectioncolor
        align-items: center
        justify-content: center
        width: 40px
        height: 40px
        cursor: pointer
        z-index: 1
        left: 81%
        top: 25%
        & span
            border: 1px solid $secondcolor
            width: 15px
            position: absolute
            left: calc( 50% - 8px )
            &:first-of-type
                transform: rotate(-45deg)
                width: 8px
                top: 14px
            &:last-of-type
                width: 8px
                transform: rotate(45deg)
                bottom: 14px
        &:after 
            content: ''
    &-button-next 
        border-radius: 0 50% 50% 0
        position: absolute
        display: flex
        border: 2px solid $borderconveniences
        background-color: $sectioncolor
        align-items: center
        justify-content: center
        width: 40px
        height: 40px
        cursor: pointer
        z-index: 1
        left: 83.2%
        top: -25%
        &::after
            content: ''
        & span
            border: 1px solid $secondcolor
            width: 15px
            position: absolute
            right: calc( 50% - 8px )
            &:first-of-type
                transform: rotate(45deg)
                width: 8px
                top: 14px
            &:last-of-type
                width: 8px
                transform: rotate(-45deg)
                bottom: 14px
@media (max-width: 1400px)
    .swiper
        &-wrap
            padding-left: 50px
        &-wrapper
            margin-left: calc( (100% - 1000px)/2 )
@media (max-width: 1000px)
    .swiper
        overflow: hidden
        padding-left: calc(( 100% - 700px )/2)
        &-wrap
            padding-left: 50px
        &-button-prev
            display: none
        &-button-next
            display: none
        
        &-slide
            width: 475px
            margin-right: 50px