@import '../helpers/_variables'

.swiper
    padding-bottom: 30px
    overflow-x: hidden
    margin-left: calc(( 100% - 1400px )/2)
    position: relative
    &-slide
        width: 675px
.swiper
    &-button-prev
        border-radius: 50% 0 0 50%
        position: absolute
        display: flex
        border: 2px solid $borderconveniences
        background-color: $sectioncolor
        align-items: center
        justify-content: center
        width: 40px
        height: 40px
        cursor: pointer
        z-index: 1
        left: 76%
        top: 25%
        & span
            border: 1px solid $secondcolor
            width: 15px
            position: absolute
            left: calc( 50% - 8px )
            &:first-of-type
                transform: rotate(-45deg)
                width: 8px
                top: 14px
            &:last-of-type
                width: 8px
                transform: rotate(45deg)
                bottom: 14px
        &:after 
            content: ''
    &-button-next 
        border-radius: 0 50% 50% 0
        position: relative
        display: flex
        border: 2px solid $borderconveniences
        background-color: $sectioncolor
        align-items: center
        justify-content: center
        width: 40px
        height: 40px
        cursor: pointer
        z-index: 1
        left: 78%
        top: -380px
        &::after
            content: ''
        & span
            border: 1px solid $secondcolor
            width: 15px
            position: absolute
            right: calc( 50% - 8px )
            &:first-of-type
                transform: rotate(45deg)
                width: 8px
                top: 14px
            &:last-of-type
                width: 8px
                transform: rotate(-45deg)
                bottom: 14px
    &-dots li 
        position: relative
        display: inline-block
        width: 68px
        height: 6px
        margin: 0 5px
        padding: 0
        cursor: pointer
    &-dots li button
        font-size: 0
        line-height: 0
        display: block
        width: 68px
        height: 6px
        padding: 0px
        cursor: pointer
        color: $borderconveniences
        border: 0
        outline: none
        background: rgba(255, 255, 255, 0.5)
        border: 1px solid $borderconveniences
        border-radius: 20px
    &-dots li button:before
        font-family: 'slick'
        font-size: 6px
        line-height: 20px
        position: absolute
        top: 0
        left: 0
        width: 68px
        height: 6px
        content: none
        text-align: center
    &-active button
        background: #fff !important
    &-disabled span
        color: $borderconveniences
        border: 1px solid $borderconveniences
@media (max-width: 1400px)
    .swiper
        padding-bottom: 30px
        &-wrap
            padding-left: 50px
@media (max-width: 1000px)
    .swiper
        overflow: hidden
        padding-left: calc(( 100% - 700px )/2)
        &-wrap
            padding-left: 50px
        &-button-prev
            display: none
        &-button-next
            display: none