.main {
  position: relative;
  height: 1005px;
  width: 100%;
  background: url(/local/img/promo-background.png);
  padding-top: 380px;
}
.main_title {
  font-family: Cormorant;
  font-weight: 600;
  font-size: 80px;
  line-height: 130%;
  text-align: center;
  margin-bottom: 204px;
  text-transform: uppercase;
  color: #fff;
}
.main_request {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_scroll {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  cursor: pointer;
}
.main .button_transparent {
  margin: 37px;
}

.scroll_border {
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  width: 21px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scroll_border:hover {
  animation: scroll_move 0.9s infinite;
}

@keyframes scroll_move {
  0% {
    padding-top: 0px;
  }
  50% {
    padding-top: 3px;
  }
  100% {
    padding-top: 6px;
  }
}
@media (max-width: 1400px) {
  .main {
    height: 720px;
    padding-top: 256px;
  }
  .main_title {
    font-size: 64px;
    margin-bottom: 85px;
  }
}
@media (max-width: 1000px) {
  .main {
    height: 800px;
    padding-top: 191px;
  }
  .main_title {
    font-size: 48px;
    margin-bottom: 202px;
  }
  .main_request {
    display: block;
  }
  .main .button_transparent {
    margin: auto;
  }
}
@media (max-width: 700px) {
  .main {
    height: 812px;
    padding-top: 131px;
  }
  .main_title {
    font-size: 32px;
    margin-bottom: 50px;
  }
  .main_request {
    display: block;
  }
}
.catalogrooms {
  padding: 100px;
  background-color: #E5E5E5;
}
.catalogrooms_subtitle {
  padding-bottom: 30px;
}
.catalogrooms_filter {
  padding-bottom: 30px;
}
.catalogrooms_cardroom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.filter {
  margin-right: 15px;
}
.filter:last-of-type {
  padding-right: 0px;
}
.filter_wrapper {
  display: flex;
}

.cardroom_wrapper {
  width: 440px;
  padding-bottom: 40px;
}
.cardroom_wrap {
  background-color: #fff;
  padding: 20px;
}
.cardroom_wrap-maney {
  display: flex;
  justify-content: space-between;
}
.cardroom_img {
  display: flex;
  align-items: flex-end;
  background: url(/local/img/luxury.png);
  height: 250px;
  padding: 0 20px;
}
.cardroom_slide {
  display: flex;
  align-items: flex-end;
  height: 100%;
  margin-right: 15px;
  cursor: pointer;
}
.cardroom_slide:last-of-type {
  margin-right: 0px;
}
.cardroom_slide-visible {
  width: 68px;
  height: 6px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  margin-bottom: 15px;
}
.cardroom_slide-visible.active {
  background: white;
}
.cardroom_title {
  padding-bottom: 10px;
}
.cardroom_text {
  padding-bottom: 15px;
}
.cardroom_icon {
  padding: 20px 0;
  margin-bottom: 20px;
  display: flex;
  border-bottom: 1px solid rgba(79, 97, 107, 0.1);
  border-top: 1px solid rgba(79, 97, 107, 0.1);
}
.cardroom_maney {
  display: flex;
}

@media (max-width: 1400px) {
  .cardroom_wrapper {
    width: 480px;
    padding-bottom: 40px;
  }
  .cardroom_img {
    padding: 0 40px;
  }
}
@media (max-width: 1000px) {
  .cardroom_wrapper {
    width: 340px;
    padding-bottom: 20px;
  }
  .cardroom_img {
    padding: 0 25px;
  }
  .cardroom_slide {
    display: flex;
    align-items: flex-end;
    height: 100%;
    margin-right: 10px;
    cursor: pointer;
  }
  .cardroom_slide:last-of-type {
    margin-right: 0px;
  }
  .cardroom_slide-visible {
    width: 50px;
    height: 6px;
    margin-bottom: 12px;
  }
  .cardroom_maney {
    flex-direction: column;
  }

  .maney_icon {
    padding-bottom: 20px;
  }
}
@media (max-width: 700px) {
  .cardroom_wrapper {
    width: 345px;
    padding-bottom: 30px;
  }
  .cardroom_img {
    padding: 0 27px;
  }
}
.maney_icon {
  display: flex;
}
.maney_svg {
  width: 50px;
  height: 50px;
  border: 1px solid rgba(79, 97, 107, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.maney_text {
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: #282828;
}
.maney_text-little {
  font-size: 14px;
  line-height: 120%;
}

.zindex1 {
  z-index: 1;
}

.zindex2 {
  z-index: 2;
}

.zindex3 {
  z-index: 3;
}

.zindex4 {
  z-index: 4;
}

.zindex5 {
  z-index: 5;
}

.zindex6 {
  z-index: 6;
}

.zindex7 {
  z-index: 7;
}

.zindex8 {
  z-index: 8;
}

.zindex9 {
  z-index: 9;
}

.zindex10 {
  z-index: 10;
}

.zindex11 {
  z-index: 11;
}

.zindex12 {
  z-index: 12;
}

.catalog__wrap {
  display: grid;
}/*# sourceMappingURL=catalog.css.map */