.main {
  position: relative;
  height: 1005px;
  width: 100%;
  background: url(/local/img/promo-background.png);
  padding-top: 380px;
}
.main_title {
  font-family: Cormorant;
  font-weight: 600;
  font-size: 80px;
  line-height: 130%;
  text-align: center;
  padding-bottom: 204px;
  text-transform: uppercase;
  color: #fff;
}
.main_request {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_scroll {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  cursor: pointer;
}
.main .button_transparent {
  margin-left: 37px;
}

.scroll_border {
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  width: 21px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scroll_border:hover {
  animation: scroll_move 0.9s infinite;
}

@keyframes scroll_move {
  0% {
    padding-top: 0px;
  }
  50% {
    padding-top: 3px;
  }
  100% {
    padding-top: 6px;
  }
}
@media (max-width: 1400px) {
  .main {
    height: 720px;
    padding-top: 256px;
  }
  .main_title {
    font-size: 64px;
    padding-bottom: 85px;
  }
}
@media (max-width: 1000px) {
  .main {
    height: 800px;
    padding-top: 191px;
  }
  .main_title {
    font-size: 48px;
    padding-bottom: 202px;
  }
  .main_request {
    display: block;
  }
}
.catalog-detailed {
  padding: 50px 0 100px;
}
.catalog-detailed .slick-dots {
  display: none;
}
.catalog-detailed_wrapper {
  display: flex;
}
.catalog-detailed_slider {
  width: 675px;
  height: 452px;
  overflow: hidden;
  margin-right: 50px;
}
.catalog-detailed_main {
  width: 50%;
}
.catalog-detailed_title-conveniences {
  font-weight: 500;
  font-size: 26px;
  line-height: 110%;
  color: #282828;
  padding-bottom: 30px;
}
.catalog-detailed_subtitle {
  width: 100%;
  padding-bottom: 20px;
}
.catalog-detailed_text {
  padding-bottom: 30px;
}
.catalog-detailed_information {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.catalog-detailed_size {
  display: flex;
  justify-content: space-between;
  padding: 22px 0 21px;
  width: 100%;
  border-bottom: 1px solid rgba(79, 97, 107, 0.1);
  border-top: 1px solid rgba(79, 97, 107, 0.1);
}
.catalog-detailed_size:first-of-type {
  margin-right: 50px;
}
.catalog-detailed_designation {
  font-size: 14px;
  color: #4F616B;
  line-height: 120%;
}
.catalog-detailed_meaning {
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  color: #282828;
}
.catalog-detailed_wrap {
  display: flex;
  padding: 25px 0 50px;
}
.catalog-detailed_price {
  margin-right: 15px;
  background-color: #F9F9F9;
  padding: 20px 23px 26px 20px;
}
.catalog-detailed_price:last-of-type {
  margin-right: 0px;
}
.catalog-detailed_connection {
  display: flex;
  justify-content: space-between;
  padding-bottom: 112px;
}
.catalog-detailed_button {
  width: 310px;
  height: 60px;
  line-height: 60px;
}
.catalog-detailed_conveniences {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bar_wrap {
  display: flex;
}
.bar_border {
  border: 1px solid rgba(79, 97, 107, 0.1);
  margin-right: 10px;
  cursor: pointer;
}
.bar_border.active {
  border: 1px solid #900E0E;
}
.bar_border:last-of-type {
  margin-right: 0;
}
.bar_img {
  width: 117px;
  height: 72px;
  padding: 5px;
}

.price_svg {
  margin-bottom: 15px;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(79, 97, 107, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.price_title {
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: #282828;
  padding-bottom: 10px;
}
.price_date {
  font-size: 14px;
  line-height: 120%;
}

.conveniences {
  display: flex;
  position: relative;
  margin-right: 15px;
}
.conveniences.big {
  margin-right: 0;
  justify-content: space-between;
  width: 440px;
  height: 100%;
  border-top: 1px solid rgba(79, 97, 107, 0.1);
  border-bottom: 1px solid rgba(79, 97, 107, 0.1);
  padding-top: 20px;
  padding-bottom: 20px;
}
.conveniences.big:hover circle {
  stroke: #900E0E;
  stroke-opacity: 1;
}
.conveniences.big:hover .svg_center {
  fill: #900E0E;
}
.conveniences.big:hover.conveniences.big {
  border-top: 1px solid #900E0E;
  border-bottom: 1px solid #900E0E;
}
.conveniences_text {
  margin: auto 0;
}
.conveniences_icon {
  position: relative;
  z-index: 1;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(79, 97, 107, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.conveniences_icon.big {
  position: relative;
  width: 70px;
  height: 70px;
}
.conveniences_icon.big.wifi {
  padding: 10px;
}/*# sourceMappingURL=catalog-detailed.css.map */