.main {
  position: relative;
  height: 1005px;
  width: 100%;
  background: url(/local/img/promo-background.png);
  padding-top: 380px;
}

.main_title {
  font-family: Cormorant;
  font-weight: 600;
  font-size: 80px;
  line-height: 130%;
  text-align: center;
  margin-bottom: 204px;
  text-transform: uppercase;
  color: #fff;
}

.main_request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main_scroll {
  display: inline-block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 30px;
  cursor: pointer;
}

.main .button_transparent {
  margin-left: 37px;
  width: 240px;
}

.main_nobanner {
  padding-top: 230px;
  position: relative;
}

.main_banner {
  padding-top: 250px;
  background: no-repeat url(/local/img/catalog-detailed.png);
  background-size: cover;
  width: 100%;
  height: 650px;
  position: relative;
}

.main_banner .button_transparent {
  margin-left: 37px;
}

.scroll_border {
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  width: 21px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.scroll_border:hover {
  -webkit-animation: scroll_move 0.9s infinite;
          animation: scroll_move 0.9s infinite;
}

@-webkit-keyframes scroll_move {
  0% {
    padding-top: 0px;
  }
  50% {
    padding-top: 3px;
  }
  100% {
    padding-top: 6px;
  }
}

@keyframes scroll_move {
  0% {
    padding-top: 0px;
  }
  50% {
    padding-top: 3px;
  }
  100% {
    padding-top: 6px;
  }
}

@media (max-width: 1510px) {
  .main {
    height: 720px;
    padding-top: 256px;
  }
  .main_title {
    font-size: 64px;
    margin-bottom: 85px;
  }
  .main_nobanner {
    padding-top: 236px;
  }
  .main_banner {
    padding-top: 256px;
  }
}

@media (max-width: 1100px) {
  .main {
    height: 800px;
    padding-top: 191px;
  }
  .main_title {
    font-size: 48px;
    margin-bottom: 202px;
  }
  .main_request {
    display: block;
  }
  .main .button_transparent {
    margin: auto;
  }
  .main_nobanner {
    padding-top: 161px;
  }
  .main_banner {
    padding-top: 186px;
  }
  .main_banner .button_transparent {
    margin: auto;
  }
  .main_banner .main_title {
    margin-bottom: 145px;
  }
}

@media (max-width: 760px) {
  .main {
    height: 812px;
    padding-top: 131px;
  }
  .main_title {
    font-size: 32px;
    margin-bottom: 50px;
  }
  .main_request {
    display: block;
  }
  .main_nobanner {
    padding-top: 111px;
  }
  .main_banner {
    padding-top: 131px;
    height: 700px;
  }
  .main_banner .main_title {
    margin-bottom: 50px;
  }
}

.catalog-detailed {
  margin: 0px 0px 100px;
}

.catalog-detailed .slick-dots {
  display: none;
}

.catalog-detailed_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.catalog-detailed_slider {
  width: 675px;
  height: 350px;
  overflow: hidden;
  margin-right: 50px;
  margin-bottom: 10px;
}

.catalog-detailed_slider_wrapper {
  width: 50%;
}

.catalog-detailed_slider_thumbs {
  width: 675px;
  overflow: hidden;
  margin-right: 50px;
}

.catalog-detailed-swiper-navigation {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 350px;
}

.catalog-detailed-swiper-navigation-arrow {
  border-radius: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid rgba(79, 97, 107, 0.1);
  background-color: #F9F9F9;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 1;
}

.catalog-detailed-swiper-navigation-arrow span {
  border: 1px solid #900E0E;
  width: 15px;
  position: absolute;
  left: calc( 50% - 8px);
}

.catalog-detailed-swiper-navigation-arrow span:first-of-type {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 8px;
  top: 14px;
}

.catalog-detailed-swiper-navigation-arrow span:last-of-type {
  width: 8px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 14px;
}

.catalog-detailed-swiper-navigation-arrow-prev {
  right: 20px;
}

.catalog-detailed-swiper-navigation-arrow-next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  left: 615px;
}

.catalog-detailed_main {
  width: 50%;
}

.catalog-detailed_title-conveniences {
  font-weight: 500;
  font-size: 26px;
  line-height: 110%;
  color: #282828;
  margin-bottom: 30px;
}

.catalog-detailed_subtitle {
  width: 100%;
  margin-bottom: 20px;
  line-height: 110%;
}

.catalog-detailed_text {
  margin-bottom: 30px;
}

.catalog-detailed_information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin-bottom: 25px;
}

.catalog-detailed_size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 22px 0 21px;
  width: 100%;
  border-bottom: 1px solid rgba(79, 97, 107, 0.1);
  border-top: 1px solid rgba(79, 97, 107, 0.1);
}

.catalog-detailed_size:first-of-type {
  margin-right: 50px;
}

.catalog-detailed_designation {
  font-size: 14px;
  color: #4F616B;
  line-height: 120%;
}

.catalog-detailed_meaning {
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  color: #282828;
}

.catalog-detailed_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.catalog-detailed_price {
  margin-right: 15px;
  background-color: #F9F9F9;
  padding: 20px 23px 26px 20px;
  width: 215px;
  height: 150px;
}

.catalog-detailed_price:last-of-type {
  margin-right: 0px;
}

.catalog-detailed_connection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 112px;
}

.catalog-detailed_button {
  width: 310px;
  height: 60px;
  line-height: 60px;
}

.catalog-detailed_conveniences {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.slide_slide {
  width: 117px;
}

.slide_img_thumbs {
  cursor: pointer;
  width: 117px;
  padding: 5px;
  border: 1px solid rgba(80, 97, 107, 0.1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.swiper-slide-thumb-active .slide_img_thumbs {
  border: 1px solid #900E0E;
}

.bar_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bar_border {
  border: 1px solid rgba(79, 97, 107, 0.1);
  margin-right: 10px;
  cursor: pointer;
}

.bar_border.active {
  border: 1px solid #900E0E;
}

.bar_border:last-of-type {
  margin-right: 0;
}

.bar_img {
  width: 117px;
  height: 72px;
  padding: 5px;
}

.price_svg {
  margin-bottom: 15px;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(79, 97, 107, 0.1);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.price_title {
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: #282828;
  margin-bottom: 10px;
}

.price_date {
  font-size: 14px;
  line-height: 120%;
}

.conveniences {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-right: 15px;
}

.conveniences.big {
  margin-right: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 440px;
  height: 100%;
  border-top: 1px solid rgba(79, 97, 107, 0.1);
  border-bottom: 1px solid rgba(79, 97, 107, 0.1);
  padding-top: 20px;
  padding-bottom: 20px;
}

.conveniences.big:hover circle {
  stroke: #900E0E;
  stroke-opacity: 1;
}

.conveniences.big:hover .svg_center {
  fill: #900E0E;
}

.conveniences.big:hover.conveniences.big {
  border-bottom: 1px solid #900E0E;
}

.conveniences.big:hover .wifi {
  border: 1px solid #900E0E;
}

.conveniences_text {
  margin: auto 0;
}

.conveniences_icon {
  position: relative;
  z-index: 1;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(79, 97, 107, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.conveniences_icon.big {
  position: relative;
  width: 70px;
  height: 70px;
}

.conveniences_icon.big.wifi {
  padding: 10px;
}

@media (max-width: 1510px) {
  .catalog-detailed {
    margin: 0px 0px 80px;
  }
  .catalog-detailed_slider {
    width: 475px;
    height: 245px;
  }
  .catalog-detailed_slider_thumbs {
    width: 475px;
  }
  .catalog-detailed-swiper-navigation {
    height: 245px;
  }
  .catalog-detailed-swiper-navigation-arrow-next {
    left: 415px;
  }
  .catalog-detailed_text {
    margin-bottom: 20px;
    font-size: 13px;
  }
  .catalog-detailed_information {
    display: block;
  }
  .catalog-detailed_wrap {
    display: block;
    margin: 20px 0;
  }
  .catalog-detailed_price {
    margin-right: 0px;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
  }
  .catalog-detailed_price:last-of-type {
    margin-bottom: 0px;
  }
  .catalog-detailed_size:first-of-type {
    border-bottom: none;
  }
  .catalog-detailed_button {
    margin-bottom: 20px;
    width: 100%;
  }
  .catalog-detailed_connection {
    display: block;
    margin-bottom: 80px;
  }
  .price_svg {
    margin-right: 15px;
    margin-bottom: 0px;
  }
  .price_title {
    margin-right: 10px;
    margin-bottom: 0px;
  }
  .slide_slide {
    width: 77px;
  }
  .slide_img_thumbs {
    width: 77px;
  }
}

@media (max-width: 1100px) {
  .catalog-detailed {
    margin: 0px 0px 60px;
  }
  .catalog-detailed_tablet {
    position: relative;
  }
  .catalog-detailed_slider {
    width: 100%;
    height: 469px;
  }
  .catalog-detailed_slider_thumbs {
    width: 100%;
  }
  .catalog-detailed_slider_wrapper {
    width: 100%;
  }
  .catalog-detailed-swiper-navigation {
    height: 100%;
  }
  .catalog-detailed-swiper-navigation-arrow-next {
    left: 642px;
  }
  .catalog-detailed_main {
    width: 100%;
  }
  .catalog-detailed_subtitle {
    font-size: 34px;
    line-height: 110%;
  }
  .catalog-detailed_text {
    margin-bottom: 20px;
    font-size: 13px;
  }
  .catalog-detailed_information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .catalog-detailed_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px 0;
  }
  .catalog-detailed_price {
    margin-right: 20px;
    margin-bottom: 0px;
    padding: 20px 23px 28px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .catalog-detailed_price:last-of-type {
    margin-bottom: 0px;
  }
  .catalog-detailed_size:first-of-type {
    border-bottom: 1px solid rgba(79, 97, 107, 0.1);
  }
  .catalog-detailed_button {
    margin-bottom: 0px;
    max-width: 402px;
  }
  .catalog-detailed_connection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
  }
  .catalog-detailed_title-conveniences {
    font-size: 22px;
  }
  .price_svg {
    margin-right: 0px;
    margin-bottom: 15px;
  }
  .price_title {
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .conveniences {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin-right: 15px;
  }
  .conveniences.big {
    width: 340px;
    height: 100%;
    border-top: 1px solid rgba(79, 97, 107, 0.1);
    border-bottom: 1px solid rgba(79, 97, 107, 0.1);
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .conveniences.big:hover circle {
    stroke: #900E0E;
    stroke-opacity: 1;
  }
  .conveniences.big:hover .svg_center {
    fill: #900E0E;
  }
  .conveniences.big:hover.conveniences.big {
    border-bottom: 1px solid #900E0E;
  }
  .conveniences.big:hover .wifi {
    border: 1px solid #900E0E;
  }
  .conveniences_text {
    margin: auto 0;
  }
  .conveniences_icon {
    position: relative;
    z-index: 1;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(79, 97, 107, 0.1);
    border-radius: 50%;
    cursor: pointer;
  }
  .conveniences_icon.big {
    position: relative;
    width: 50px;
    height: 50px;
  }
  .conveniences_icon.big.wifi {
    padding: 10px;
  }
  .slide_slide {
    width: 117px;
  }
  .slide_img {
    height: 469px;
  }
  .slide_img_thumbs {
    width: 117px;
  }
}

@media (max-width: 760px) {
  .catalog-detailed {
    margin: 0px 0px 50px;
  }
  .catalog-detailed_slider {
    width: 345px;
    height: 231px;
  }
  .catalog-detailed_slider_thumbs {
    display: none;
  }
  .catalog-detailed-swiper-navigation {
    display: none;
  }
  .catalog-detailed_main {
    width: 100%;
  }
  .catalog-detailed_subtitle {
    font-size: 28px;
    line-height: 120%;
  }
  .catalog-detailed_text {
    margin-bottom: 20px;
    font-size: 13px;
  }
  .catalog-detailed_information {
    display: block;
  }
  .catalog-detailed_wrap {
    display: block;
    margin: 20px 0;
  }
  .catalog-detailed_price {
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 20px 23px 28px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .catalog-detailed_price:last-of-type {
    margin-bottom: 10px;
  }
  .catalog-detailed_button {
    margin-bottom: 20px;
  }
  .catalog-detailed_connection {
    display: block;
    margin-bottom: 50px;
  }
  .catalog-detailed_title-conveniences {
    margin-bottom: 20px;
    font-size: 22px;
  }
  .catalog-detailed_slider_wrapper {
    position: relative;
  }
  .catalog-detailed-slider {
    position: relative;
    overflow-x: hidden;
  }
  .catalog-detailed-slider__pagination {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-gap: 15px;
    padding: 12.5px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .catalog-detailed-slider .swiper-pagination-bullet {
    position: relative;
    width: 100%;
    height: 100%;
    background: transparent;
  }
  .catalog-detailed-slider .swiper-pagination-bullet::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 6px;
    background: #fff;
    opacity: 0.5;
    border-radius: 20px;
    bottom: 0;
  }
  .catalog-detailed-slider .swiper-pagination-bullet-active::before {
    opacity: 1;
  }
}
/*# sourceMappingURL=catalog-detailed.css.map */