@font-face {
  font-family: "Pragmatica";
  src: url("/local/fonts/PragmaticaSlab-Light.eot");
  src: url("/local/fonts/PragmaticaSlab-Light.eot?#iefix") format("embedded-opentype");
  src: url("/local/fonts/PragmaticaSlab-Light.ttf") format("truetype");
  src: url("/local/fonts/PragmaticaSlab-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Pragmatica";
  src: url("/local/fonts/Pragmatica-Book.eot");
  src: url("/local/fonts/Pragmatica-Book.eot?#iefix") format("embedded-opentype");
  src: url("/local/fonts/Pragmatica-Book.ttf") format("truetype");
  src: url("/local/fonts/Pragmatica-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pragmatica";
  src: url("/local/fonts/PragmaticaSlab-Medium.eot");
  src: url("/local/fonts/PragmaticaSlab-Medium.eot?#iefix") format("embedded-opentype");
  src: url("/local/fonts/PragmaticaSlab-Medium.ttf") format("truetype");
  src: url("/local/fonts/PragmaticaSlab-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Pragmatica";
  src: url("/local/fonts/PragmaticaSlab-Bold.eot");
  src: url("/local/fonts/PragmaticaSlab-Bold.eot?#iefix") format("embedded-opentype");
  src: url("/local/fonts/PragmaticaSlab-Bold.ttf") format("truetype");
  src: url("/local/fonts/PragmaticaSlab-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Cormorant";
  src: url("/local/fonts/Cormorant-SemiBold.eot");
  src: url("/local/fonts/Cormorant-SemiBold.eot?#iefix") format("embedded-opentype");
  src: url("/local/fonts/Cormorant-SemiBold.ttf") format("truetype");
  src: url("/local/fonts/Cormorant-SemiBold.woff") format("woff");
  font-weight: normal;
  font-style: 500;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #4F616B;
}

body {
  background: #fff;
  font-family: "Pragmatica";
}
body .dark {
  background: #1C1C20;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #4F616B;
}

p {
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
}

.title {
  color: #900E0E;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.title.little {
  font-weight: 500;
  font-size: 22px;
  line-height: 120%;
  color: #282828;
}

@media (max-width: 1400px) {
  .title {
    margin-bottom: 15px;
  }
}
.subtitle {
  font-weight: 500;
  font-size: 44px;
  line-height: 110%;
  color: #282828;
  width: 50%;
}

@media (max-width: 1400px) {
  .subtitle {
    font-size: 34px;
  }
}
@media (max-width: 1000px) {
  .subtitle {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .subtitle {
    font-size: 28px;
  }
}
.text {
  font-size: 15px;
  line-height: 160%;
}

@media (max-width: 1400px) {
  .text {
    font-size: 14px;
  }
}
section {
  position: relative;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
}

@media (max-width: 1400px) {
  .container {
    max-width: 1000px;
  }
}
@media (max-width: 1000px) {
  .container {
    max-width: 700px;
  }
}
@media (max-width: 700px) {
  .container {
    max-width: 345px;
  }
}
.icon_wrapper {
  display: flex;
}
.icon_social {
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  border: 1px solid #F2F2F2;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin-right: 20px;
}
.icon_social:hover .icon_social-center {
  fill: #fff;
  transition: 0.4s;
}
.icon_contact {
  display: flex;
  align-items: center;
}
.icon_contact span:last-of-type {
  margin-left: 10px;
}
.icon_contact-svg {
  height: 26px;
  width: 26px;
  border-radius: 50%;
  border: 1px solid #F2F2F2;
}
.icon_contact:hover .icon_contact-svg {
  background-color: #fff;
  transition: 0.4s;
}
.icon_contact:hover .icon_hover {
  fill: #900E0E;
  transition: 0.4s;
}

@media (max-width: 1000px) {
  .icon_contact {
    display: none;
  }
}
.vk:hover {
  background: #2C5FE1;
  border: 1px solid #2C5FE1;
  transition: 0.4s;
}

.instagram {
  padding-left: 1px;
}

.instagram:hover {
  background: linear-gradient(180deg, #FF15E8 0%, #FF8A00 100%);
  border: none;
  transition: 0.4s;
}

.odnoklassniki_head {
  display: flex;
  justify-content: center;
  align-items: center;
}

.odnoklassniki_body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.odnoklassniki {
  display: block;
  padding-top: 5px;
}

.odnoklassniki:hover {
  background: #EC8021;
  border: 1px solid #EC8021;
  transition: 0.4s;
}

.youtube:hover {
  background: #FD000D;
  border: 1px solid #FD000D;
  transition: 0.4s;
}

.button {
  background: #fff;
  width: 220px;
  height: 46px;
  border: 1px solid #900E0E;
  color: #900E0E;
  text-align: center;
  border-radius: 2px;
  font-weight: 500;
  font-size: 13px;
  line-height: 46px;
  letter-spacing: 0.01em;
  cursor: pointer;
}
.button_transparent {
  background-color: rgba(0, 0, 0, 0);
  height: 50px;
  border: 1px solid #fff;
  color: #fff;
}
.button_transparent.active {
  color: #900E0E;
  border: 1px solid #900E0E;
}
.button:hover {
  background: #900E0E;
  color: #fff;
  transition: 0.4s;
}
.button.filled {
  background: #900E0E;
  color: #fff;
}
.button.filled:hover {
  background: #A42222;
  transition: 0.4s;
}
.button.filled.catalog {
  height: 50px;
  width: 180px;
}
.button.transparent {
  background: none;
}
.button_circle {
  position: relative;
  width: 36px;
  height: 36px;
  border: 1px solid rgba(79, 97, 107, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.button_circle:hover .button_bord {
  background: #282828;
}
.button_bord {
  position: absolute;
  top: 50%;
  left: 25%;
  width: 18px;
  height: 2px;
  background: #4F616B;
  border-radius: 2px;
}
.button_bord:first-child {
  transform: rotate(45deg);
}
.button_bord:last-child {
  transform: rotate(-45deg);
}

@media (max-width: 1000px) {
  .button.filled.catalog {
    width: 100%;
  }
}
.filter {
  cursor: pointer;
  border-radius: 100px;
  display: flex;
  border: 1px solid rgba(79, 97, 107, 0.5);
  align-items: center;
  justify-content: center;
  width: 112px;
  height: 30px;
  transition: 0.4s;
}
.filter:hover {
  border: 1px solid #4F616B;
}
.filter.active {
  border: 1px solid #900E0E;
  color: #900E0E;
}
.filter.active:hover {
  border: 1px solid #900E0E;
  color: #900E0E;
}

@media (max-width: 1000px) {
  .button_transparent {
    margin: 0 auto;
  }
}
@media (max-width: 700px) {
  .header .button_transparent {
    display: none;
  }
}
.more_wrap {
  border-bottom: 1px solid rgba(79, 97, 107, 0.1);
  padding-bottom: 20px;
}
.more_arrow {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.more_arrow:hover .arrow_center {
  fill: #fff;
  transition: 0.4s;
}
.more_arrow:hover .more_wrap {
  border-bottom: 1px solid #900E0E;
  transition: 0.4s;
}
.more_arrow:hover .arrow {
  background: #900E0E;
  transition: 0.4s;
  animation: arrow 1.8s infinite;
}

.arrow {
  border-radius: 50%;
  display: flex;
  border: 2px solid rgba(79, 97, 107, 0.1);
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}
.arrow_text {
  padding-left: 10px;
  font-weight: 500;
  font-size: 15px;
  line-height: 120%;
}

@keyframes arrow {
  from {
    padding-left: 0px;
  }
  to {
    padding-left: 15px;
  }
}
.conveniences {
  display: flex;
  position: relative;
  margin-right: 15px;
}
.conveniences:last-of-type {
  margin-right: 0;
}
.conveniences_text {
  margin: auto 0;
}
.conveniences_icon {
  position: relative;
  z-index: 1;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(79, 97, 107, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.conveniences_icon.big {
  position: relative;
  width: 70px;
  height: 70px;
}
.conveniences_hide {
  position: absolute;
  line-height: 42px;
  text-align: center;
  height: 40px;
  opacity: 0;
  display: none;
}
.conveniences:hover .conveniences_hide {
  background-color: #fff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 100px 100px;
  padding-right: 10px;
  animation: conveniences_hide 1s forwards;
  transition: 0.4s;
  display: block;
}

.wifi {
  padding: 7.5px;
}

@keyframes conveniences_hide {
  0% {
    padding-left: 0px;
    max-width: 0px;
    opacity: 0;
  }
  100% {
    padding-left: 50px;
    opacity: 1;
    max-width: 300px;
  }
}
.request_wrapper {
  display: flex;
}
.request_flex {
  display: flex;
}
.request_flex:last-of-type .request_icon {
  width: 45px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-right: 1px solid #fff;
}
.request_icon {
  width: 45px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.request_emptiness {
  width: 45px;
  height: 40px;
}
.request_emptiness:first-of-type {
  border-left: 1px solid #fff;
}
.request_guests {
  line-height: 40px;
  border-bottom: 1px solid #fff;
  color: #fff;
  width: 130px;
  height: 40px;
  text-align: center;
}
.request_guests input {
  border-bottom: 1px solid #fff;
}

@media (max-width: 1000px) {
  .request_wrapper {
    margin: 0 auto;
    padding: 40px;
  }

  .main .button_transparent {
    margin-left: 0px;
  }
}
@media (max-width: 700px) {
  .request_flex {
    margin-bottom: 30px;
  }
  .request_wrapper {
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }
}
.popup {
  background-color: #E5E5E5;
  height: 100%;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.popup_wrapper {
  border-radius: 20px;
  background-color: #fff;
  padding: 30px;
  display: none;
  max-width: 800px;
  min-height: 230px;
}
.popup_wrapper.erorr {
  border-radius: 20px;
  background-color: #fff;
  padding: 30px;
}
.popup_wrapper.erorr .popup_wrap {
  margin-bottom: 9px;
}
.popup_wrapper.confirmation .popup_wrap {
  margin-bottom: 9px;
}
.popup_wrapper.confirmation .popup_title {
  color: #40A629;
}
.popup_wrapper.confirmation .popup_text {
  margin-bottom: 30px;
}
.popup_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.popup_title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 0px;
  text-transform: none;
}
.popup.active {
  display: flex;
}
.popup_text {
  font-size: 14px;
  line-height: 140%;
  margin-bottom: 15px;
}
.popup_text a {
  color: #900E0E;
}
.popup_button {
  color: #8E8E8E;
  background-color: #F6F8FC;
  height: 50px;
  width: 100%;
  font-size: 12px;
  line-height: 130%;
  text-align: center;
  line-height: 46px;
}

.booking {
  background-color: #E5E5E5;
  height: 100vh;
  width: 100vw;
  display: none;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  top: 0;
  z-index: 9999;
}
.booking_wrapper {
  border-radius: 20px;
  background-color: #fff;
  padding: 30px;
  width: 800px;
  min-height: 230px;
}
.booking_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.booking_title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 0px;
  text-transform: none;
}

.form {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}
.form_text {
  color: #282828;
  margin-bottom: 8px;
  font-size: 15px;
  line-height: 120%;
}
.form_text sup {
  color: #900E0E;
}
.form_initials {
  width: 100%;
  height: 50px;
  padding-left: 15px;
  background-color: #ECF1F7;
  border: none;
}
.form_initials:hover {
  background-color: #EDF5FE;
}
.form input {
  border: none;
  width: 230px;
  height: 50px;
  margin-right: 25px;
  padding-left: 15px;
  background-color: #ECF1F7;
}
.form input:hover {
  background-color: #EDF5FE;
}
.form_button {
  font-size: 16px;
}
.form_wrap {
  display: flex;
}
.form_error {
  color: transparent;
  font-size: 12px;
  line-height: 120%;
  width: 230px;
  margin-right: 25px;
}
.form_error.active {
  color: #EF3232;
}
.form_approval {
  width: 220px;
  font-size: 10px;
}

.mobile {
  display: none;
}

.active {
  display: block;
}

@media (max-width: 700px) {
  .mobile {
    display: block;
  }
}
.header {
  position: absolute;
  z-index: 2;
  width: 100%;
}
.header.move.fixed {
  background-color: #fff;
  position: fixed;
  top: 0;
}
.header_contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  padding: 22.5px 0;
}
.header_wrapper {
  display: flex;
  align-items: center;
}
.header_wrapper .icon_contact {
  margin-right: 50px;
}
.header_wrapper span {
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  line-height: 120%;
}
.header .button_transparent {
  height: 46px;
}
.header_burgher {
  display: none;
  margin-left: 20px;
  border: 1px solid rgba(79, 97, 107, 0.1);
  width: 46px;
  height: 46px;
  position: relative;
  cursor: pointer;
}
.header_burgher span {
  margin: 4px auto;
  display: block;
  background: #fff;
  border: 1px solid #fff;
  height: 2px;
  width: 22px;
}
.header_burgher span:first-of-type {
  margin-top: 16px;
}
.header_burgher:hover span {
  display: none;
}
.header_burgher:hover span:first-of-type {
  margin-top: 4px;
  transform: rotate(-45deg);
  position: absolute;
  top: calc( 50% - 5px );
  left: calc( 50% - 11px );
  display: block;
}
.header_burgher:hover span:last-of-type {
  transform: rotate(45deg);
  position: absolute;
  top: calc( 50% - 5px );
  left: calc( 50% - 11px );
  display: block;
}
.header.fixed span {
  color: #282828;
}
.header.fixed .nav_item {
  color: #282828;
}
.header.fixed .header_contact {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.header.fixed .header_nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.header.fixed path {
  fill: #282828;
}

.nav_dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 23.5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  padding-bottom: 23.5px;
}
.nav_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_bar {
  position: relative;
  padding-right: 70px;
}
.nav_bar:last-of-type {
  padding-right: 0px;
}
.nav_item {
  color: #fff;
}

.dropdown {
  display: flex;
  cursor: pointer;
}
.dropdown_text {
  padding-right: 8px;
  font-weight: 500;
  font-size: 15px;
}
.dropdown_svg {
  border-radius: 50%;
  display: flex;
  border: 2px solid #F2F2F2;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
}
.dropdown:hover .dropdown_svg-center {
  fill: #900E0E;
  transition: 0.4s;
}
.dropdown_list {
  position: absolute;
  left: 0;
  display: none;
  top: 30px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}
.dropdown:hover .dropdown_list {
  display: block;
}
.dropdown_item {
  font-weight: 400;
  font-size: 15px;
  margin: 0 15px;
  padding: 15px 0;
  border-bottom: 1px solid rgba(79, 97, 107, 0.1);
}
.dropdown_item:last-of-type {
  border-bottom: none;
}
.dropdown_item a {
  color: #4F616B;
}
.dropdown_item:hover a {
  color: #900E0E;
}

@media (max-width: 1400px) {
  .header_wrapper a {
    font-size: 16px;
  }
  .header_wrapper .icon_contact {
    margin-right: 30px;
  }
  .header_wrapper span {
    font-size: 16px;
  }

  .nav_bar {
    padding-right: 40px;
  }
}
@media (max-width: 1000px) {
  .header_wrapper a {
    font-size: 16px;
  }
  .header_wrapper .icon_contact {
    padding-right: 30px;
  }
  .header_nav {
    display: none;
  }
  .header_burgher {
    display: block;
  }
}
@media (max-width: 700px) {
  .header .button {
    display: none;
  }
}
@media (max-width: 1400px) {
  .swiper-wrap {
    padding-left: 50px;
  }
  .swiper-wrapper {
    margin-left: calc( (100% - 1000px)/2 );
  }
}
@media (max-width: 1000px) {
  .swiper {
    overflow: hidden;
    padding-left: calc(( 100% - 700px )/2);
  }
  .swiper-wrap {
    padding-left: 50px;
  }
  .swiper-button-prev {
    display: none;
  }
  .swiper-button-next {
    display: none;
  }
  .swiper-slide {
    width: 475px;
    margin-right: 50px;
  }
}
.footer {
  padding-top: 70px;
  background: #1C1C20;
  flex: 0 0 auto;
}
.footer_wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 41px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.footer_logo {
  margin-bottom: 38px;
}
.footer_title {
  color: #BFBFBF;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  margin-bottom: 20px;
}
.footer_wrap {
  display: flex;
}
.footer_numbers {
  margin-right: 73px;
}
.footer_number {
  margin-bottom: 15px;
}
.footer_number:last-of-type {
  margin-bottom: 0px;
}
.footer_number a {
  color: #fff;
}
.footer_addres {
  margin-bottom: 15px;
}
.footer_addres:last-of-type {
  margin-bottom: 0px;
}
.footer_addres a {
  color: #fff;
}
.footer_nav {
  display: flex;
  width: 47%;
  justify-content: space-between;
}

.nav_aboutus {
  margin-right: 95px;
}
.nav_wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.nav_wrapper:first-of-type {
  margin-bottom: 40px;
}
.nav_title {
  margin-bottom: 20px;
}
.nav_title a {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #fff;
}
.nav_list {
  margin-bottom: 15px;
}
.nav_list a {
  color: #BFBFBF;
  font-size: 14px;
  line-height: 120%;
}
.nav_list:last-of-type {
  margin-bottom: 0px;
}
.mobile {
  display: none;
}

.copyright_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 42px 0;
}
.copyright_wrap {
  display: flex;
  justify-content: space-between;
}
.copyright_wrap .copyright_documents-wrap {
  display: none;
}
.copyright_flex {
  display: flex;
}
.copyright_flex .icon_wrapper {
  align-items: center;
}
.copyright_copyright {
  max-width: 433px;
  font-size: 12px;
  line-height: 120%;
  color: #BFBFBF;
}
.copyright_documents-wrap {
  display: flex;
}
.copyright_documents:first-of-type {
  margin-right: 80px;
}
.copyright_documents:last-of-type {
  margin-right: 41px;
}
.copyright_documents a {
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: #BFBFBF;
}

@media (max-width: 1400px) {
  .footer {
    padding-top: 50px;
  }
  .footer_nav {
    display: block;
  }
  .footer-wrap {
    display: block;
  }
  .footer_wrapper {
    padding-bottom: 40px;
  }

  .nav_wrapper:first-of-type {
    margin-bottom: 30px;
  }
  .nav_wrapper:nth-of-type(2) {
    margin-right: 100px;
    margin-bottom: 30px;
  }
  .nav_events {
    display: flex;
    justify-content: flex-start;
  }
  .nav_events_wrapper {
    margin-bottom: 0px;
  }
  .nav_events .nav_wrapper {
    margin-right: 126px;
  }
  .nav_events .nav_wrapper:first-of-type {
    margin-bottom: 0px;
  }

  .copyright_documents:first-child {
    margin-bottom: 8px;
  }
  .copyright_documents-wrap {
    flex-direction: column;
  }
}
@media (max-width: 1000px) {
  .footer_wrapper {
    display: block;
    padding-bottom: 0px;
  }
  .footer_wrap {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    padding-bottom: 30px;
  }
  .footer_nav {
    display: flex;
    width: 100%;
    margin: 30px 0;
  }
  .footer-wrap {
    display: flex;
  }

  .nav_wrapper:nth-of-type(2) {
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .nav_events {
    display: block;
  }
  .nav_events .nav_wrapper {
    margin-right: 0px;
  }
  .nav_events .nav_wrapper:first-of-type {
    margin-bottom: 30px;
  }
  .copyright_wrapper {
    align-items: flex-start;
    padding: 20px 0 30px;
  }
  .copyright_wrap {
    display: block;
  }
  .copyright_wrap .copyright_documents-wrap {
    display: flex;
    flex-direction: row;
  }
  .copyright_documents:first-child {
    margin-bottom: 0px;
  }
  .copyright_documents:first-of-type {
    margin-right: 8px;
  }
  .copyright_documents:last-of-type {
    margin-right: 0px;
  }
  .copyright_flex {
    display: flex;
  }
  .copyright_flex .copyright_documents-wrap {
    display: none;
  }
  .copyright_copyright {
    margin-bottom: 20px;
  }
}
@media (max-width: 700px) {
  .footer_wrap {
    display: block;
  }
  .footer_nav {
    display: block;
  }
  .footer_logo {
    margin-bottom: 20px;
  }
  .footer_numbers {
    margin-right: 0px;
    margin-bottom: 15px;
  }

  .nav_wrap {
    display: block;
  }
  .nav_wrapperup:first-of-type {
    margin-right: 0px;
  }
  .nav_wrapperup-mobile {
    display: block;
  }
  .nav_wrapperup-mobile.nav_wrapper {
    display: block;
  }
  .nav_wrapper {
    margin-bottom: 20px;
  }
  .nav_wrapper:first-of-type {
    margin-bottom: 20px;
  }
  .nav_wrapper:nth-of-type(2) {
    display: none;
  }
  .nav_events {
    display: block;
  }
  .nav_title {
    margin-bottom: 10px;
  }
  .copyright_wrapper {
    flex-direction: column-reverse;
    align-items: flex-start;
    padding: 20px 0 20px;
  }
  .copyright_wrapper .icon_wrapper {
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  }
  .copyright_wrapper .icon_social {
    width: 40px;
    height: 40px;
    margin-right: 40px;
  }
  .copyright_wrapper .odnoklassniki {
    padding-top: 9px;
  }
  .copyright_wrap {
    display: block;
  }
  .copyright_wrap .copyright_documents-wrap {
    display: flex;
    flex-direction: column;
  }
  .copyright_flex {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    width: 100%;
    margin: 20px 0;
    margin-bottom: 20px;
  }
  .copyright_documents:first-child {
    margin-bottom: 0px;
  }
  .copyright_documents:first-of-type {
    margin-right: 8px;
  }
  .copyright_documents:last-of-type {
    margin-right: 0px;
  }
  .copyright_copyright {
    margin-bottom: 15px;
  }
}/*# sourceMappingURL=layout.css.map */