.main {
  position: relative;
  height: 1005px;
  width: 100%;
  background: url(/local/img/promo-background.png);
  padding-top: 380px;
}
.main_title {
  font-family: Cormorant;
  font-weight: 600;
  font-size: 80px;
  line-height: 130%;
  text-align: center;
  padding-bottom: 204px;
  text-transform: uppercase;
  color: #fff;
}
.main_request {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_scroll {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  cursor: pointer;
}
.main .button_transparent {
  margin-left: 37px;
}

.scroll_border {
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  width: 21px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scroll_border:hover {
  animation: scroll_move 0.9s infinite;
}

@keyframes scroll_move {
  0% {
    padding-top: 0px;
  }
  50% {
    padding-top: 3px;
  }
  100% {
    padding-top: 6px;
  }
}
@media (max-width: 1400px) {
  .main {
    height: 720px;
    padding-top: 256px;
  }
  .main_title {
    font-size: 64px;
    padding-bottom: 85px;
  }
}
@media (max-width: 1000px) {
  .main {
    height: 800px;
    padding-top: 191px;
  }
  .main_title {
    font-size: 48px;
    padding-bottom: 202px;
  }
  .main_request {
    display: block;
  }
}
.service {
  padding: 100px 0;
}
.service_wrapper {
  display: flex;
}
.service_wrap:first-of-type {
  width: 50%;
  padding-right: 50px;
}
.service_subtitle {
  padding-bottom: 20px;
  width: 100%;
}
.service_list:last-child {
  padding-bottom: 30px;
}
.service_item {
  display: flex;
  padding-bottom: 21px;
}
.service_ordinal {
  width: 26px;
  height: 26px;
  border: 1px solid rgba(79, 97, 107, 0.1);
  border-radius: 50%;
  color: #900E0E;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  font-size: 14px;
}
.service_ordinal.symbol {
  font-size: 22px;
}
.service_text {
  width: 639px;
}
.service_callback {
  display: flex;
}

h3.service_subtitle.subtitle {
  font-size: 18px;
  line-height: 120%;
}

.callback_wrapper {
  display: flex;
  background-color: #F9F9F9;
  margin-right: 10px;
  padding: 25px 68px 26px 30px;
}
.callback_icon {
  padding-right: 15px;
}
.callback_manager {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #F9F9F9;
  padding: 25px 29px 26px 28px;
}
.callback_manager .callback_title {
  font-size: 13px;
  line-height: 120%;
  padding-bottom: 3px;
}
.callback_manager .callback_text {
  font-size: 13px;
  line-height: 120%;
  font-weight: 400;
  padding-bottom: 0px;
}
.callback_img {
  width: 80px;
  height: 80px;
  margin-bottom: 8px;
}
.callback_title {
  color: #282828;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  padding-bottom: 10px;
}
.callback_text {
  font-size: 15px;
  line-height: 140%;
  padding-bottom: 20px;
}

@media (max-width: 1400px) {
  .service {
    padding: 100px 0;
  }
  .service_wrapper {
    display: flex;
  }
  .service_wrap:first-of-type {
    padding-right: 50px;
  }

  .callback_manager {
    display: none;
  }
}
@media (max-width: 1000px) {
  .service {
    padding: 100px 0;
  }
  .service_wrapper {
    display: block;
  }
  .service_wrap:first-of-type {
    padding-right: 0px;
    width: 100%;
  }

  .callback_manager {
    display: flex;
  }
}
@media (max-width: 700px) {
  .service {
    padding: 100px 0;
  }
  .service_wrapper {
    display: block;
  }
  .service_wrap:first-of-type {
    padding-right: 0px;
    width: 100%;
  }
  .service_callback {
    flex-direction: column-reverse;
  }

  .callback_title {
    font-size: 18px;
  }
  .callback_manager {
    margin-bottom: 10px;
  }
  .callback_wrapper {
    margin-right: 0;
    padding: 20px;
  }
  .callback_wrap-mobile {
    display: flex;
  }
  .callback_wrap-mobile.callback_icon {
    padding-right: 10px;
  }

  .button.filled {
    width: 100%;
  }
}/*# sourceMappingURL=service.css.map */