.main {
  position: relative;
  height: 1005px;
  width: 100%;
  background: url(/local/img/promo-background.png);
  padding-top: 380px;
}
.main_title {
  font-family: Cormorant;
  font-weight: 600;
  font-size: 80px;
  line-height: 130%;
  text-align: center;
  padding-bottom: 204px;
  text-transform: uppercase;
  color: #fff;
}
.main_request {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_scroll {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  cursor: pointer;
}
.main .button_transparent {
  margin-left: 37px;
}

.scroll_border {
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  width: 21px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scroll_border:hover {
  animation: scroll_move 0.9s infinite;
}

@keyframes scroll_move {
  0% {
    padding-top: 0px;
  }
  50% {
    padding-top: 3px;
  }
  100% {
    padding-top: 6px;
  }
}
@media (max-width: 1400px) {
  .main {
    height: 720px;
    padding-top: 256px;
  }
  .main_title {
    font-size: 64px;
    padding-bottom: 85px;
  }
}
@media (max-width: 1000px) {
  .main {
    height: 800px;
    padding-top: 191px;
  }
  .main_title {
    font-size: 48px;
    padding-bottom: 202px;
  }
  .main_request {
    display: block;
  }
}
.aboutus {
  padding: 100px 0;
}
.aboutus_wrapper {
  display: flex;
}
.aboutus_wrap {
  width: 55%;
}
.aboutus_subtitle {
  width: 100%;
  padding-bottom: 20px;
}
.aboutus_text {
  padding-bottom: 20px;
}
.aboutus_text:last-of-type {
  padding-bottom: 50px;
}
.aboutus_difference {
  display: flex;
  justify-content: space-between;
  padding-bottom: 57px;
}
.aboutus_photo {
  width: 700px;
  height: 700px;
  padding-left: 100px;
}
.aboutus_arrow {
  border-radius: 50%;
  display: flex;
  border: 2px solid rgba(79, 97, 107, 0.1);
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}
.aboutus_arrow-text {
  padding-left: 10px;
  font-weight: 500;
  font-size: 15px;
  line-height: 120%;
}
.aboutus_arrow-wrap {
  display: none;
  align-items: center;
}
.aboutus_arrow-wrap:hover .arrow_center {
  fill: #fff;
  transition: 0.4s;
}
.aboutus_arrow-wrap:hover .more_wrap {
  border-bottom: 1px solid #900E0E;
  transition: 0.4s;
}
.aboutus_arrow-wrap:hover .arrow {
  background: #900E0E;
  transition: 0.4s;
  animation: arrow 1.8s infinite;
}

@media (max-width: 1400px) {
  .aboutus_photo {
    width: 450px;
    height: 500px;
    padding-left: 50px;
  }
}
@media (max-width: 1000px) {
  .aboutus_wrapper {
    display: block;
  }
  .aboutus_wrap {
    width: 100%;
  }
  .aboutus .more_arrow {
    display: none;
  }
  .aboutus_difference {
    justify-content: center;
    padding-bottom: 41px;
  }
  .aboutus_photo {
    padding-left: 0px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .aboutus_arrow-wrap {
    padding-left: calc( 700px - (50% + 100px));
    display: flex;
  }
}
.difference_wrapper {
  border-radius: 50%;
  display: flex;
  border: 1px solid rgba(79, 97, 107, 0.1);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  height: 200px;
}
.difference_pluses {
  font-weight: 300;
  font-size: 80px;
  line-height: 120%;
  color: #900E0E;
}
.difference_description {
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  padding: 0 35px;
}

@media (max-width: 1400px) {
  .difference_wrapper {
    width: 170px;
    height: 170px;
  }
  .difference_pluses {
    font-size: 70px;
  }
  .difference_description {
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    padding: 0 35px;
  }
}
@media (max-width: 1000px) {
  .difference_wrapper {
    margin-right: 16px;
  }
}
.excursion {
  background: #F9F9F9;
  padding-top: 100px;
  padding-bottom: 100px;
}
.excursion_title {
  text-align: center;
  padding-bottom: 10px;
}
.excursion_button {
  margin: 0 auto;
}

.advantages {
  padding: 100px 0;
}
.advantages_subtitle {
  padding-bottom: 50px;
}
.advantages_wrapper {
  display: flex;
  justify-content: space-between;
}
.advantages_card {
  padding-right: 50px;
}
.advantages_card:last-of-type {
  padding-right: 0;
}

.card_img {
  margin-bottom: 20px;
}
.card_title {
  padding-bottom: 20px;
}
.card_text {
  padding-bottom: 40px;
}

@media (max-width: 1400px) {
  .card_img svg {
    width: 50px;
    height: 50px;
  }
}
.rooms {
  padding: 100px 0;
  background-color: #F0EBE6;
}
.rooms_wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  align-items: center;
}
.rooms_subtitle {
  padding-right: 25px;
  width: 50%;
}
.rooms_text {
  padding-left: 25px;
  width: 50%;
}

.room {
  display: flex;
  overflow: hidden;
  padding-left: calc(( 100% - 1400px )/2);
}
.room_wrapper {
  padding-right: 50px;
}
.room_wrapper:last-of-type {
  padding-right: 0px;
}
.room_wrapper img {
  padding-bottom: 30px;
}
.room_img {
  height: 350px;
  width: 675px;
}
.room_title {
  padding-bottom: 10px;
}
.room_text {
  padding-bottom: 40px;
}

@media (max-width: 1400px) {
  .room {
    padding-left: calc(( 100% - 1000px )/2);
  }
  .room_img {
    width: 475px;
    height: 250px;
  }
}
@media (max-width: 1000px) {
  .rooms_wrapper {
    display: block;
  }
  .rooms_subtitle {
    padding-right: 0px;
    width: 100%;
  }
  .rooms_text {
    padding-left: 0px;
    width: 100%;
  }
  .rooms .swiper-slide {
    width: 475px;
    margin-right: 50px;
  }

  .room {
    padding-left: calc(( 100% - 700px )/2);
  }
}
.maney_wrap {
  border-bottom: 1px solid rgba(79, 97, 107, 0.1);
  padding-bottom: 20px;
}
.maney_wrap:hover.maney_wrap {
  border-bottom: 1px solid #900E0E;
  transition: 0.4s;
}
.maney_wrap:hover .maney_svg {
  border: 2px solid #900E0E;
  transition: 0.4s;
}
.maney_icon {
  display: flex;
  align-items: center;
}
.maney_svg {
  border-radius: 50%;
  display: flex;
  border: 2px solid rgba(79, 97, 107, 0.1);
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}
.maney_text {
  padding-left: 10px;
  font-weight: 500;
  font-size: 15px;
  line-height: 120%;
}

.gallery {
  padding: 100px 0;
}
.gallery_subtitle {
  padding-bottom: 20px;
}
.gallery_wrap-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
}
.gallery_wrap-text .gallery_text {
  padding-bottom: 30px;
}
.gallery_wrap-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
}
.gallery_wrap-card:last-of-type {
  padding-top: 50px;
}
.gallery img {
  width: 675px;
  height: 450px;
}
.gallery_wrap-cards .gallery_text {
  padding-bottom: 80px;
}
.gallery_card {
  padding-bottom: 100px;
}
.gallery img {
  padding-bottom: 15px;
}
.gallery_number {
  font-size: 13px;
  line-height: 120%;
  color: #900E0E;
}
.gallery_signature {
  font-size: 18px;
  line-height: 120%;
  color: #282828;
  padding-left: 34px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(79, 97, 107, 0.1);
}
.gallery .more_arrow {
  padding-left: calc( 50% + 27px );
}

@media (max-width: 1400px) {
  .gallery img {
    width: 475px;
    height: 320px;
  }
}
@media (max-width: 1000px) {
  .gallery img {
    width: 475px;
    height: 320px;
  }
  .gallery_wrap-text {
    display: block;
    padding-right: 0px;
  }
  .gallery_wrap-text .gallery_text:first-of-type {
    padding-bottom: 20px;
  }
  .gallery_wrap-text .gallery_text {
    padding-bottom: 30px;
  }
  .gallery_wrap-card {
    display: none;
  }
}
.reviews {
  padding: 100px 0;
  background: #F9F9F9;
}
.reviews_subtitle {
  padding-bottom: 30px;
}
.reviews_wrapper {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
}
.reviews_card {
  padding-right: 50px;
}
.reviews_card:last-of-type {
  padding-right: 0;
}

@media (max-width: 1400px) {
  .reviews_wrapper {
    margin: 0;
    padding-left: calc(( 100% - 1000px )/2);
    overflow: hidden;
  }
}
@media (max-width: 1000px) {
  .reviews_wrapper {
    margin: 0;
    padding-left: calc(( 100% - 700px )/2);
    overflow: hidden;
  }
}
.card_wrapper {
  background: #fff;
  width: 433px;
  padding: 25px 25px 22px;
}
.card_svg {
  padding-bottom: 20px;
}
.card_text {
  font-size: 14px;
  line-height: 150%;
  padding-bottom: 30px;
  color: #282828;
}
.card_photo {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}
.card_name {
  font-weight: 500;
  font-size: 13px;
  line-height: 120%;
  padding-bottom: 5px;
  color: #282828;
}
.card_date {
  font-size: 13px;
  line-height: 120%;
}

@media (max-width: 1400px) {
  .card_wrapper {
    width: 475px;
  }
}
.CEO {
  padding: 100px 0;
}
.CEO_subtitle {
  padding-bottom: 20px;
}
.CEO_wrapper {
  display: flex;
}
.CEO_text {
  padding-bottom: 10px;
}
.CEO_text:last-of-type {
  padding-bottom: 0px;
}

.video {
  padding-left: 50px;
}

@media (max-width: 1400px) {
  .video iframe {
    width: 475px;
    height: 282px;
  }
}
@media (max-width: 1000px) {
  .CEO_wrapper {
    display: block;
  }
  .CEO_wrap {
    padding-bottom: 30px;
  }

  .video {
    padding-left: 0px;
  }
  .video iframe {
    width: 100%;
    height: 414px;
  }
}
.contacts {
  background: #F9F9F9;
  padding: 100px 0;
  position: relative;
}
.contacts_subtitle {
  padding-bottom: 30px;
}
.contacts_flex {
  display: flex;
}
.contacts_box {
  padding-bottom: 30px;
}
.contacts_icon {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
.contacts_icon a {
  padding-left: 10px;
}
.contacts_wrap {
  border-radius: 50%;
  display: flex;
  border: 1px solid #F2F2F2;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}
.contacts_wrap-email {
  display: flex;
  align-items: center;
}
.contacts_center {
  fill: #900E0E;
}
.contacts_svgtitle {
  padding-left: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
}
.contacts_text {
  font-size: 18px;
  line-height: 130%;
}
.contacts_map {
  position: absolute;
  right: 0;
  top: 0;
}

@media (max-width: 1000px) {
  .contacts_flex {
    display: block;
  }
  .contacts_wrapper .more_arrow {
    padding-bottom: 30px;
  }
  .contacts_map {
    position: static;
  }
  .contacts_map iframe {
    height: 352px;
    width: 700px;
  }
}
.swiper {
  overflow: hidden;
  padding-left: calc(( 100% - 700px )/2);
}

@media (max-width: 1000px) {
  .swiper {
    overflow: hidden;
    padding-left: calc(( 100% - 700px )/2);
  }
  .swiper-button-prev {
    display: none;
  }
  .swiper-button-next {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */