.aboutus
    padding: $mainpadding 0
    &_wrapper
        display: flex
    &_wrap
        width: 50%
    &_title
    &_subtitle
        width: 100%
        padding-bottom: 20px
    &_text
        padding-bottom: 20px
        &:last-of-type
            padding-bottom: 50px
    &_arrow
    &_difference
        display: flex
        justify-content: space-between
        padding-bottom: 57px
    &_photo
        width: 600px
        height: 700px
        padding-left: 100px
    &_more
.difference
    &_wrapper
        border-radius: 50%
        display: flex
        border: 2px solid $borderconveniences
        align-items: center
        justify-content: center
        flex-direction: column
        width: 200px
        height: 200px
    &_pluses
        font-weight: 300
        font-size: 80px
        line-height: 120%
        color: $secondcolor
    &_description
        font-size: 14px
        line-height: 130%
        text-align: center
        padding: 0 35px