.catalogrooms
    padding: $mainpadding
    background-color: $roomcolor
    &_title
    &_subtitle
        padding-bottom: 30px
    &_filter
        padding-bottom: 30px
    &_cardroom
        display: flex
        justify-content: space-between
        flex-wrap: wrap
.filter
    margin-right: 15px
    &:last-of-type
        padding-right: 0px
    &_wrapper
        display: flex
.cardroom
    &_wrapper
        width: 440px
        padding-bottom: 40px
    &_wrap
        background-color: $maincolor
        padding: 20px
        &-maney
            display: flex
            justify-content: space-between
    &_img
        display: flex
        align-items: flex-end
        background: url(/local/img/luxury.png)
        height: 250px
        padding: 0 20px 
    &_slide
        display: flex
        align-items: flex-end
        height: 100%
        margin-right: 15px
        cursor: pointer
        &:last-of-type
            margin-right: 0px
        &-visible
            width: 68px
            height: 6px
            background: rgba(255, 255, 255, 0.5)
            border-radius: 20px
            margin-bottom: 15px
            &.active
                background: rgb(255, 255, 255)
    &_title
        padding-bottom: 10px
    &_text
        padding-bottom: 15px
    &_icon
        padding: 20px 0
        margin-bottom: 20px
        display: flex
        border-bottom: 1px solid $borderconveniences
        border-top: 1px solid $borderconveniences
    &_maney
        display: flex
@media (max-width: 1400px)
    .cardroom
        &_wrapper
            width: 480px
            padding-bottom: 40px
        &_img
            padding: 0 40px 
@media (max-width: 1000px)
    .cardroom
        &_wrapper
            width: 340px
            padding-bottom: 20px
        &_img
            padding: 0 25px 
        &_slide
            display: flex
            align-items: flex-end
            height: 100%
            margin-right: 10px
            cursor: pointer
            &:last-of-type
                margin-right: 0px
            &-visible
                width: 50px
                height: 6px
                margin-bottom: 12px
        &_maney
            flex-direction: column
    .maney_icon
        padding-bottom: 20px
@media (max-width: 700px)
    .cardroom
        &_wrapper
            width: 345px
            padding-bottom: 30px
        &_img
            padding: 0 27px 
.maney
    &_wrap
    &_icon
        display: flex
    &_svg
        width: 50px
        height: 50px
        border: 1px solid $borderconveniences
        border-radius: 50%
        display: flex
        align-items: center
        justify-content: center
        margin-right: 10px
    &_text
        font-weight: 500
        font-size: 18px
        line-height: 120%
        color: $titlecolor
        &-little
            font-size: 14px
            line-height: 120%
.zindex1
    z-index: 1
.zindex2
    z-index: 2
.zindex3
    z-index: 3
.zindex4
    z-index: 4
.zindex5
    z-index: 5
.zindex6
    z-index: 6
.zindex7
    z-index: 7
.zindex8
    z-index: 8
.zindex9
    z-index: 9
.zindex10
    z-index: 10
.zindex11
    z-index: 11
.zindex12
    z-index: 12