.contacts
    background: $sectioncolor
    padding-left: calc(( 100% - 1400px)/2)
    &_title
    &_subtitle
        padding-bottom: 30px
        width: 100%
    &_flex
        display: flex
        justify-content: space-between
    &_wrapper
        padding-top: 100px
    &_box
        padding-bottom: 30px
    &_icon
        display: flex
        align-items: center
        padding-bottom: 10px
        & a
            padding-left: 10px
    &_wrap
        border-radius: 50%
        display: flex
        border: 1px solid #F2F2F2
        align-items: center
        justify-content: center
        width: 32px
        height: 32px
        &-email
            display: flex
            align-items: center
    &_center
        fill: $secondcolor
    &_svgtitle
        padding-left: 10px
        font-weight: 700
        font-size: 14px
        line-height: 120%
    &_text
        font-size: 18px
        line-height: 130%
    &_map
        width: 48.7%
        overflow: hidden
@media (max-width: 1400px)
    .contacts
        padding-left: calc(( 100% - 1000px)/2)
@media (max-width: 1000px)
    .contacts
        padding-left: calc(( 100% - 700px)/2)
        &_title
        &_subtitle
        &_flex
            display: block
        &_wrapper
            & .more_arrow
                padding-bottom: 30px
        &_box
        &_icon
            & a
        &_wrap
            &-email
        &_center
        &_svgtitle
        &_text
        &_map
            width: 700px
            & iframe 
                height: 352px
                width: 700px