.excursion
    background: $sectioncolor
    padding-top: $mainpadding
    padding-bottom: $mainpadding
    &_title
        text-align: center
        margin-bottom: 10px
    &_button
        margin: 0 auto