.reviews
    padding: $mainpadding 0
    background: $sectioncolor
    &_title
    &_subtitle
        padding-bottom: 30px
    &_wrapper
        display: flex
        max-width: 1400px
        margin: 0 auto
    &_card
        padding-right: 50px
        &:last-of-type
            padding-right: 0
@media (max-width: 1400px)
    .reviews
        &_wrapper
            margin: 0 
            padding-left: calc(( 100% - 1000px )/2)
            overflow: hidden
.card
    &_wrapper
    &_svg
    &_text
    &_photo
    &_name
    &_date