.reviews
    padding: $mainpadding 0
    background: $sectioncolor
    &_title
    &_subtitle
        margin-bottom: 30px
    &_wrapper
        display: flex
    &_card
        margin-right: 50px
        &:last-of-type
            margin-right: 0
        &_wrapper
            background: $maincolor
            width: 433px
            padding: 25px 25px 22px
        &_svg
            margin-bottom: 20px
        &_text
            font-size: 14px
            line-height: 150%
            margin-bottom: 30px
            color: $titlecolor
        &_photo
            width: 60px
            height: 60px
            margin-bottom: 10px
        &_name
            font-weight: 500
            font-size: 13px
            line-height: 120%
            margin-bottom: 5px
            color: $titlecolor
        &_date
            font-size: 13px
            line-height: 120%
    &_tablet
        display: none
@media (max-width: 1400px)
    .reviews
        padding: $desktoppadding 0px
        &_wrapper
            display: none
        &_tablet
            display: block
@media (max-width: 1000px)
    .reviews 
        padding: $tabletpadding 0px
        &_wrapper
            margin: 0 
            padding-left: calc(( 100% - 700px )/2)
            overflow: hidden
.reviews_card
    
@media (max-width: 1400px)
    .reviews 
        padding: $mobilepadding 0px
        &_subtitle
            margin-bottom: 15px
    .card
        &_wrapper
            width: 475px
.card
    &_wrapper
    &_svg
    &_text
    &_photo
    &_name
    &_date