.reviews
    padding: $mainpadding 0
    background: $sectioncolor
    &_title
    &_subtitle
        padding-bottom: 30px
    &_wrapper
        display: flex
    &_card
        padding-right: 50px
        &:last-of-type
            padding-right: 0
.card
    &_wrapper
    &_svg
    &_text
    &_photo
    &_name
    &_date