.rooms
    padding: $mainpadding 0
    background-color: $roomscolor
    &_title
    &_wrapper
        display: flex
        justify-content: space-between
        margin-bottom: 30px
        align-items: center
    &_subtitle
        margin-right: 50px
        width: 50%
    &_text
        width: 50%
    &-swiper
        overflow-x: hidden
        margin-left: calc((100% - 1400px)/2)
        &-wrap
            position: relative
        &-wrapper
            position: static
        &-slide
            width: 675px
            & a
                display: block
        &-navigation
            position: absolute
            top: 0
            display: flex
            justify-content: center
            align-items: center
            height: 350px
            right: calc((100% - 1400px)/2 - 40px)
            &-arrow
                border-radius: 50% 0 0 50%
                position: relative
                display: flex
                border: 2px solid $borderconveniences
                background-color: $sectioncolor
                align-items: center
                justify-content: center
                width: 40px
                height: 40px
                cursor: pointer
                z-index: 1
                & span
                    border: 1px solid $secondcolor
                    width: 15px
                    position: absolute
                    left: calc( 50% - 8px )
                    &:first-of-type
                        transform: rotate(-45deg)
                        width: 8px
                        top: 14px
                    &:last-of-type
                        width: 8px
                        transform: rotate(45deg)
                        bottom: 14px
                &-next
                    transform: rotate(180deg)

.room
    display: flex
    overflow: hidden
    margin-left: calc((100% - 1400px )/2)
    &_wrapper
        margin-right: 50px
        &:last-of-type
            margin-right: 0px
        & img
    &_img
        height: 350px
        width: 675px
        margin-bottom: 30px
    &_title
        margin-bottom: 10px
    &_text
        margin-bottom: 40px
@media (min-width: 1100px)
    .room
        &_img
            &:hover
                height: 120%
                width: 120%
                z-index: 15
@media (min-width: 1510px)
    .room
        &_img
            &:hover
                height: 120%
                width: 120%
                z-index: 15
@media (max-width: 1510px)
    .rooms
        padding: $desktoppadding 0px
        &-swiper
            margin-left: calc((100% - 1000px)/2)
            &-slide
                width: 475px
            &-navigation
                right: calc((100% - 1000px)/2 - 40px)
    .room
        &_img
            width: 475px
            height: 250px

@media (max-width: 1100px)
    .rooms
        padding: $tabletpadding 0px
        &-swiper
            margin-left: calc((100% - 700px)/2)
            &-navigation
                display: none
        &_wrapper
            display: block
        &_subtitle
            margin-right: 0px
            margin-bottom: 20px
            width: 100%
        &_text
            margin-left: 0px
            width: 100%
@media (max-width: 760px)
    .rooms
        &-swiper
            margin: 0 calc((100% - 345px)/2)
            &-navigation
.maney
    &_wrap
        cursor: pointer
        border-bottom: 1px solid $borderconveniences
        padding-bottom: 20px
        &:hover.maney_wrap
            border-bottom: 1px solid $secondcolor
            transition: 0.4s
        &:hover .maney_svg
            border: 2px solid $secondcolor
            transition: 0.4s
    &_icon
        display: flex
        align-items: center
    &_svg
        border-radius: 50%
        display: flex
        border: 2px solid $borderconveniences
        align-items: center
        justify-content: center
        width: 50px
        height: 50px
    &_center
    &_text
        margin-left: 10px
        font-weight: 500
        font-size: 15px
        line-height: 120%
@media (max-width: 760px)
    .rooms
        padding: $mobilepadding 0px
        &_subtitle
            margin-bottom: 15px