@import '../helpers/_variables'
@import '../blocks/_main'
.catalog-detailed
    margin: 0px 0px $mainpadding 
    & .slick-dots
        display: none
    &_wrapper
        display: flex
        position: relative
    &_slider
        width: 675px
        height: 350px 
        overflow: hidden
        margin-right: 50px
        margin-bottom: 10px
        &_wrapper
            width: 50%
        &_thumbs
            width: 675px
            overflow: hidden
            margin-right: 50px
    &-swiper
        &-navigation
            position: absolute
            top: 0
            display: flex
            justify-content: center
            align-items: center
            height: 350px
            &-arrow
                border-radius: 50% 
                position: relative
                display: flex
                border: 2px solid $borderconveniences
                background-color: $sectioncolor
                align-items: center
                justify-content: center
                width: 40px
                height: 40px
                cursor: pointer
                z-index: 1
                & span
                    border: 1px solid $secondcolor
                    width: 15px
                    position: absolute
                    left: calc( 50% - 8px )
                    &:first-of-type
                        transform: rotate(-45deg)
                        width: 8px
                        top: 14px
                    &:last-of-type
                        width: 8px
                        transform: rotate(45deg)
                        bottom: 14px
                &-prev
                    right: 20px
                &-next
                    transform: rotate(180deg)
                    left: 615px
    &_main
        width: 50%
    &_title
        &-conveniences
            font-weight: 500
            font-size: 26px
            line-height: 110%
            color: $titlecolor
            margin-bottom: 30px
    &_subtitle
        width: 100%
        margin-bottom: 20px
        line-height: 110%
    &_text
        margin-bottom: 30px
    &_information
        display: flex
        justify-content: space-between
        text-align: center
        margin-bottom: 25px
    &_size
        display: flex
        justify-content: space-between
        padding: 22px 0 21px
        width: 100%
        border-bottom: 1px solid $borderconveniences
        border-top: 1px solid $borderconveniences
        &:first-of-type
            margin-right: 50px
    &_designation
        font-size: 14px
        color: $textcolor
        line-height: 120%
    &_meaning
        font-weight: 500
        font-size: 14px
        line-height: 120%
        color: $titlecolor
    &_wrap
        display: flex
        margin-bottom: 50px
    &_price
        margin-right: 15px
        background-color: $sectioncolor
        padding: 20px 23px 26px 20px
        width: 215px
        height: 150px
        &:last-of-type
            margin-right: 0px
    &_connection
        display: flex
        justify-content: space-between 
        margin-bottom: 112px
    &_button
        width: 310px
        height: 60px
        line-height: 60px
    &_conveniences
        display: flex
        justify-content: space-between 
        flex-wrap: wrap
.slide
    &_slide
        width: 117px
    &_img
        &_thumbs
            cursor: pointer
            width: 117px
            padding: 5px
            border: 1px solid rgba(80, 97, 107, 0.1)      
            transition: 0.4s  
.swiper-slide-thumb-active 
    & .slide_img_thumbs
        border: 1px solid #900E0E
.bar
    &_wrap
        display: flex
    &_border
        border: 1px solid $borderconveniences
        margin-right: 10px
        cursor: pointer
        &.active
            border: 1px solid $secondcolor
        &:last-of-type
            margin-right: 0
    &_img
        width: 117px
        height: 72px
        padding: 5px
.price
    &_svg
        margin-bottom: 15px
        width: 40px
        height: 40px
        border: 1px solid $borderconveniences
        border-radius: 50%
        display: flex    
        align-items: center
        justify-content: space-evenly
    &_center
    &_title
        font-weight: 500
        font-size: 18px
        line-height: 120%
        color: $titlecolor
        margin-bottom: 10px
    &_date
        font-size: 14px
        line-height: 120%
.conveniences
    display: flex
    position: relative
    margin-right: 15px
    &.big
        margin-right: 0
        justify-content: space-between
        width: 440px
        height: 100%
        border-top: 1px solid $borderconveniences
        border-bottom: 1px solid $borderconveniences
        padding-top: 20px
        padding-bottom: 20px
        &:hover circle
            stroke: $secondcolor
            stroke-opacity: 1
        &:hover .svg_center
            fill: $secondcolor
        &:hover.conveniences.big
            border-bottom: 1px solid $secondcolor
        &:hover .wifi
            border: 1px solid $secondcolor
    &_text
        margin: auto 0
    &_icon
        position: relative
        z-index: 1
        width: 40px
        height: 40px
        border: 1px solid $borderconveniences
        border-radius: 50%
        cursor: pointer
        &.big
            position: relative
            width: 70px
            height: 70px
            &.wifi
                padding: 10px
@media (max-width: 1510px)
    .catalog-detailed
        margin: 0px 0px $desktoppadding
        &_slider
            width: 475px
            height: 245px
            &_thumbs
                width: 475px
        &-swiper-navigation
            height: 245px
            &-arrow-next
                left: 415px
        &_text
            margin-bottom: 20px
            font-size: 13px
        &_information
            display: block
        &_wrap
            display: block
            margin: 20px 0
        &_price
            margin-right: 0px
            margin-bottom: 10px
            display: flex
            align-items: center
            width: 100%
            height: 100%
            padding: 20px
            &:last-of-type
                margin-bottom: 0px
        &_size
            &:first-of-type
                border-bottom: none
        &_button
            margin-bottom: 20px
            width: 100%
        &_connection
            display: block
            margin-bottom: 80px
    .price
        &_svg
            margin-right: 15px
            margin-bottom: 0px
        &_title
            margin-right: 10px
            margin-bottom: 0px
        &_date
    .slide
        &_slide
            width: 77px
        &_img
            &_thumbs
                width: 77px
@media (max-width: 1100px)
    .catalog-detailed
        margin: 0px 0px $tabletpadding
        &_tablet
            position: relative
        &_slider
            width: 100%
            height: 469px
            &_thumbs
                width: 100%
            &_wrapper
                width: 100%
        &-swiper-navigation
            height: 100%
            &-arrow-next
                left: 642px
        &_main
            width: 100%
        &_subtitle
            font-size: 34px
            line-height: 110%
        &_text
            margin-bottom: 20px
            font-size: 13px
        &_information
            display: flex
        &_wrap
            display: flex
            margin: 20px 0
        &_price
            margin-right: 20px
            margin-bottom: 0px
            padding: 20px 23px 28px 20px
            display: flex
            flex-direction: column
            align-items: flex-start
            &:last-of-type
                margin-bottom: 0px
        &_size:first-of-type
            border-bottom: 1px solid $borderconveniences
        &_button
            margin-bottom: 0px
            max-width: 402px
        &_connection
            display: flex
            margin-bottom: 60px
        &_title-conveniences
            font-size: 22px
    .price
        &_svg
            margin-right: 0px
            margin-bottom: 15px
        &_title
            margin-right: 0px
            margin-bottom: 10px
        &_date
    .conveniences
        display: flex
        position: relative
        margin-right: 15px
        &.big
            width: 340px
            height: 100%
            border-top: 1px solid $borderconveniences
            border-bottom: 1px solid $borderconveniences
            padding-top: 20px
            padding-bottom: 20px
            &:hover circle
                stroke: $secondcolor
                stroke-opacity: 1
            &:hover .svg_center
                fill: $secondcolor
            &:hover.conveniences.big
                border-bottom: 1px solid $secondcolor
            &:hover .wifi
                border: 1px solid $secondcolor
        &_text
            margin: auto 0
        &_icon
            position: relative
            z-index: 1
            width: 40px
            height: 40px
            border: 1px solid $borderconveniences
            border-radius: 50%
            cursor: pointer
            &.big
                position: relative
                width: 50px
                height: 50px
                &.wifi
                    padding: 10px
    .slide
        &_slide
            width: 117px
        &_img
            height: 469px
            &_thumbs
                width: 117px
@media (max-width: 760px)
    .catalog-detailed
        margin: 0px 0px $mobilepadding
        &_slider
            width: 345px
            height: 231px
            &_thumbs
                display: none
        &-swiper-navigation
            display: none
        &_main
            width: 100%
        &_subtitle
            font-size: 28px
            line-height: 120%
        &_text
            margin-bottom: 20px
            font-size: 13px
        &_information
            display: block
        &_wrap
            display: block
            margin: 20px 0
        &_price
            margin-right: 20px
            margin-bottom: 10px
            padding: 20px 23px 28px 20px
            display: flex
            flex-direction: row
            &:last-of-type
                margin-bottom: 10px
        &_button
            margin-bottom: 20px
        &_connection
            display: block
            margin-bottom: 50px
        &_title-conveniences
            margin-bottom: 20px
            font-size: 22px
        &_slider_wrapper
            position: relative
        &-slider
            position: relative
            overflow-x: hidden
            &__pagination
                position: absolute
                left: 0
                right: 0
                bottom: 0
                top: 0
                z-index: 10
                display: flex 
                grid-gap: 15px
                padding: 12.5px
                align-items: flex-end
            & .swiper-pagination-bullet
                position: relative
                width: 100%
                height: 100%
                background: transparent
                &::before
                    content: ''
                    position: absolute
                    width: 100%
                    height: 6px
                    background: #fff
                    opacity: 0.5
                    border-radius: 20px
                    bottom: 0
                &-active::before
                    opacity: 1 
            
